<div class="ct-mediaSection ct-u-bgBlack ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="300" data-type="parallax" data-bg-image="" data-bg-image-mobile="">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <h1 class="ct-breadcrumbHeader text-uppercase pull-left">Enrolments</h1>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>

<div class="ct-u-bgLightGrey ct-u-paddingBoth60 ct-u-bgGrey">
  <div class="container">
    <div class="ct-singleCourse">
      <div class="ct-singleCourse-intro ct-u-bgWhite">
 			<h2>Students - <%= @course.name %></h2>
      <table class="table">
      	<tr>
      		<th>Name</th>
      		<th>Email</th>
      		<th>Prequestionnaire</th>
      		<th></th>
      	</tr>
				<% @students.each do |student| %>
          
            <tr>
              <td><%= student.first_name %></td>
              <td><%= student.email_address %></td>
              <% if PreQuestionnaire.find_by(order_id: student.id) %>
                <td><%= link_to 'Link', pre_questionnaire_path(PreQuestionnaire.find_by(order_id: student.id)) %></td>
              <% else %>
                <td>None</td>
              <% end %>
              <td></td>
            </tr>
          
        <% end %>
			</table>
		</div>
<%= link_to 'Back to enrolments', enrolments_path %>
	</div>
</div>
