 <%= content_for :header, 'small-header' %>
  <div class="row">
    <div class="col-xs-12 col-lg-offset-2 col-lg-8">
      <h2>Fast Track Applications <span class="label label-default"><%= @fast_track_applications.count %></span></h2>
      <div class="panel panel-default"><div class="panel-body"><p id="notice"><%= notice %></p>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Country</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Accept?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fast_track_applications.each do |fast_track_application| %>
      <tr>
        <td><%= fast_track_application.first_name %> <%= fast_track_application.last_name %></td>
        <td><%= fast_track_application.city %></td>
        <td><%= fast_track_application.country %></td>
        <td><%= fast_track_application.age %></td>
        <td><%= fast_track_application.gender %></td>
        <td><% if fast_track_application.admission %><%= link_to 'See admission', admission_path(fast_track_application.admission) %><% else %><%= link_to "Accept Student", accept_fast_track_application_path(fast_track_application), data: { confirm: 'Are you sure?' }  %><% end %></td>
        <td><a href="/fast_track_applications/<%= fast_track_application.id %>">Show</a></td>
        <td><%= link_to 'Edit', edit_fast_track_application_path(fast_track_application) %></td>
        <td><%= link_to 'Destroy', fast_track_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div></div></div></div>