 <%= content_for :header, 'small-header' %>
  <div class="row">
    <div class="col-xs-12 col-lg-offset-2 col-lg-8">
      <h2>Scholarship</h2>
      <div class="panel panel-default"><div class="panel-body">
      <p id="notice"><%= notice %></p>

<p>
  <strong>Scholarship type:</strong>
  <%= @scholarship.scholarship_type %>
</p>

<p>
  <strong>Company:</strong>
  <%= @scholarship.company %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @scholarship.logo %>
</p>

<p>
  <strong>Available:</strong>
  <%= @scholarship.available %>
</p>

<p>
  <strong>Description:</strong>
  <%= @scholarship.description %>
</p>

<%= link_to 'Edit', edit_scholarship_path(@scholarship) %> |
<%= link_to 'Back', scholarships_path %>
</div></div></div></div>