<%= simple_form_for(@partner) do |f| %>
  <%= f.error_notification %>
  <% if params[:sponsorship] %>
    <%= f.input :sponsorship, as: :hidden, input_html: { value: params[:sponsorship]} %>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :company %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :message %>
  </div>

  <div class="form-actions">
    <%= f.submit "Become a change champion", class: 'btn-block btn-block-dirtygold' %>
  </div>
<% end %>
