<%= content_for :header, 'small-header' %>
<section class="calm">        
  <div class="row">
    <div class="col-xs-12 col-lg-offset-2 col-lg-8">
      <h2 class="section-heading">Partnership Requests</h2>
      <div class="panel panel-default"><div class="panel-body">

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partners.each do |partner| %>
      <tr>
        <td><%= partner.name %></td>
        <td><%= partner.company %></td>
        <td><%= link_to 'Show', partner %></td>
        <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
        <td><%= link_to 'Destroy', partner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Partner', new_partner_path %>
</div></div></div></div></section>