<% active_nav_item :women_in_tech %>
<% @women_in_tech = true %>
<% content_for :header, 'women-header' %>
<% content_for :title, 'The world needs more women in tech - Coder Factory Champions of Change Scholarship Programme' %>
<% content_for :description, "Be a part of Coder Factory's Champions of Change sponsorship programme and provide scholarships that encourage more women to enter the tech industry. " %>
<%= content_for :image, asset_url('julia.jpg') %>
<div class="ct-mediaSection ct-u-bgBlack ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="400" data-type="parallax" data-bg-image="http://res.cloudinary.com/coder-factory/image/upload/v1418034058/heart_fivwmy.jpg" data-bg-image-mobile="http://res.cloudinary.com/coder-factory/image/upload/v1418034058/heart_fivwmy.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <h1 class="ct-breadcrumbHeader text-uppercase pull-left">Women in tech</h1>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>

<section class="calm">				
	<div class="row">
		<div class="col-xs-12 col-lg-offset-2 col-lg-8">
			<h2 class="section-heading">Champions for Change</h2>
			<div class="panel panel-default"><div class="panel-body">
			<p class="lead">The Change Champion Scholarship Programme is Coder Factory’s solution to every company’s diversity problem.</p> 
			<p>Recent reports show that the percentage of women in programming and software engineering roles is as low as 13%. There are so many great reasons why the world needs more women in technical roles. Here are just six of them:</p>
			<div class="highlight">
			<div class="row"><div class="col-md-10 col-md-offset-1">
				<h3>Why we need more women in tech.</h3>
				<ol>
					<li>We need more people in tech, period.</li>
					<li>There will be <strong>less sexual harassment</strong> and discomfort when there are more women around.</li>
					<li>There will be <strong>less discrimination</strong> if it's not considered unusual for women to pursue tech careers.</li>
					<li>More women in tech now will <strong>encourage more girls</strong> to pursue their own interest in tech (and will therefore enable greater equality).</li>
					<li>A current lack of innovation in industries because there are fewer women in tech.</li>
					<li>Women think, act, and approach problems differently.</li>
				</ol>
				<small>Source: <a href="https://www.quora.com/Why-do-we-need-more-women-in-technology/answer/Gayle-Laakmann-McDowell?srid=dmne&share=1" target="_blank">Gayle McDowell</a> (Quora)</small>
			</div></div></div>
			</div></div>
		</div>
	</div>
</section>

<section class="">				
	<div class="row">
		<div class="col-xs-12 col-lg-offset-2 col-lg-8">
			<h2 class="section-heading dark">WHY?</h2>
			<div class="panel panel-default"><div class="panel-body">
				<p class="lead">At Coder Factory, we all <em>love</em> what we do.</p>
				<p>Creating technology is an empowering pursuit that has the potential to improve the lives of people everywhere. <strong>We want more women to have the opportunity to love working in the tech industry.</strong></p>

				
			</div></div>

			<div class="thumbnail">
	      <img src="<%= asset_path 'ada.jpg' %>" alt="Ada Lovelace">
	      <div class="caption">
					<p><a href="https://en.wikipedia.org/wiki/Ada_Lovelace" target="_blank">Ada Lovelace</a> is famous for being the first person to create an algorithm to be run on a machine, the Analytical Engine, in the mid-19th century.</p>

					<p>Our modern world is lacking a visionary female technologist. We want to do our part to change that.</p>

				</div>
			</div>
		</div>
	</div>
</section>

<section class="dirty-gold">				
	<div class="row">
		<div class="col-xs-12 col-lg-offset-2 col-lg-8">
			<h2 class="section-heading dark">Take action</h2>
			<div class="panel panel-default"><div class="panel-body">
				<p class="lead">Perhaps your company needs more diversity in your development team, or your organisation wants to publicly show its support for growing the numbers of women in tech, here is what you can do about it.</p>
				<p>Coder Factory's revolutionary <a href="/fast-track" target="_blank">Fast Track</a> programme produces quality, job-ready coders in just 24 weeks. Organisations can choose from the following sponsorship options to grow the number of women in the technology industry or their own tech workforce.</p>
				<div class="callout callout-danger">
				<h4>Change Champion</h4>
				<p><strong>FULL Fast Track scholarships for TWO female students.<br>
				$50K</strong></p>

				<p>Your sponsorship will provide two totally free places in the Fast Track programme for your chosen students.</p>
				<p><a href="/partners/new?sponsorship=champion" class="">Be a Change Champion</a></p>
				</div>

				<div class="callout callout-warning">
					<h4>Change Maker</h4>
					<p><strong>FULL Fast Track scholarship for ONE female student.<br>
					$25K</strong></p>

				<p>Your sponsorship will provide one free place in the Fast Track programme for your chosen student.</p>
				<p><a href="/partners/new?sponsorship=maker" class="">Be a Change Maker</a></p>
				</div>

				<div class="callout callout-info">
				<h4>Change Supporter</h4>
				<p><strong>HALF Fast Track scholarship for one female student.<br>
				$15K</strong></p>

				<p>Your sponsorship will provide one half scholarship in the Fast Track programme for your chosen student.</p>
				<p><a href="/partners/new?sponsorship=supporter" class="">Be a Change Supporter</a></p>
				</div>

				<p>Sponsoring organisations will have the option to view the profiles of the top applicants and interview them to determine which student they would like to award the scholarship.</p>
				<p>Organisations can enter into an agreement with their chosen student to commence an internship or employment with your company upon their completion of the Fast Track programme.</p>
			</div></div>
		</div>
	</div>
</section>


<section class="">				
	<div class="row">
		<div class="col-xs-12 col-lg-offset-2 col-lg-8">
			<h2 class="section-heading dark">Current Sponsors</h2>
			<div class="panel panel-default"><div class="panel-body">
				<p class="lead">Women! Start your journey into the exciting world of tech by applying for one of the following scholarships.</p>
				<div class="row">
					<% @scholarships.each do |scholarship| %>
						<div class="col-lg-4">
							<div class="thumbnail">
					      <img src="<%= scholarship.logo %>" alt="<%= scholarship.company %> logo" class="img-responsive">
					      <div class="caption">
									<table class="table">
										<tr>
											<td>Company</td>
											<td><a href="<%= scholarship.website %>" target="_blank"><%= scholarship.company %></a></td>
										</tr>
										<tr>
											<td>Type</td>
											<td><strong><%= scholarship.scholarship_type %></strong></td>
										</tr>
										<tr>
											<td>Available?</td>
											<td><%= scholarship.available ? 'YES' : 'AWARDED' %></td>
										</tr>
										<tr>
											<td>Closing date</td>
											<td><%= scholarship.close_date ? scholarship.close_date.strftime('%e %B %y') : 'Closed' %></td>
										</tr>
										<tr>
											<td>Announced</td>
											<td><%= scholarship.announce_date.strftime('%e %B %y') if scholarship.announce_date %></td>
										</tr>
										<tr>
											<td></td>
											<td>
												<%= link_to 'Apply now', new_fast_track_application_path(scholarship: scholarship.id) %></td>
										</tr>
									</table>
									
								</div>
							</div>
						</div>
					<% end %>
					<div class="col-lg-4">
						<div class="thumbnail">
				      <a href="http://localhost:3000/partners/new?sponsorship=maker" target="_blank"><img src="<%= asset_path 'your-logo2.png' %>" alt="Coder Factory logo" class="img-responsive"></a>
				      <div class="caption">
								
								
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="thumbnail">
				      <a href="http://localhost:3000/partners/new?sponsorship=maker" target="_blank"><img src="<%= asset_path 'your-logo2.png' %>" alt="Coder Factory logo" class="img-responsive"></a>
				      <div class="caption">
								
								
							</div>
						</div>
					</div>
				</div>

			</div></div>
		</div>
	</div>
</section>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52ee398713b80ae1" async="async"></script>
