<%= content_for :header, 'small-header' %>
<%= content_for :title, "Coder Factory's " + @author.name %>
<%= content_for :description, @author.name.to_s + ": " + @author.title.to_s + ". " + @author.info.to_s %>
<%= content_for :image, @author.profile_picture %>
<div class="ct-mediaSection ct-u-bgBlack ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="330" data-type="parallax" data-bg-image="<%= asset_path 'defaulthead.jpg' %>" data-bg-image-mobile="<%= asset_path 'slider4.jpg' %>">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <h1 class="ct-breadcrumbHeader text-uppercase pull-left">Author: <%= @author.name %></h1>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>    

          



<div class="container">  
          <div class="row ct-contactContent">
      
<aside class="col-md-4">
    <div class="author" itemscope itemtype="http://data-vocabulary.org/Person">
      <h2><span itemprop="name"><%= @author.name %></span></h2>
      <h3><span itemprop="title"><%= @author.title %></span></h3>
        <% if @author.profile_picture %>
          <span itemprop="photo"><img src="<%= @author.profile_picture %>" class='img-responsive img-thumbnail' alt="<%= @author.name %>" ></span>
        <% end %>
      <h3>About me</h3>
      </p>
      <p><%= @author.info.html_safe %></p>
      <hr>

      <h3>Get in touch</h3>
      <div class="row">
      <div class="col-md-6">
      <ul class="fa-ul">
        <li class="fa fa-google-plus">
          <!-- <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x"></i>
          </span>  -->
          <%= link_to "Google+", @author.google_plus %>
        </li>
        <li class="fa fa-twitter">
          <!-- <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x"></i>
          </span>  -->
          <a href="https://twitter.com/<%= @author.twitter %>">Twitter</a>
        </li>
        </ul>
        </div>
        <div class="col-md-6 links">
        <ul class="fa-ul">

        <li class="fa fa-linkedin">
         <!--  <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x"></i>
          </span>  -->
          <%= link_to "LinkedIn", @author.linkedin %>
        </li>
        <li class="fa fa-globe">
         <!--  <span class="fa-stack">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fa fa-globe fa-stack-1x"></i>
          </span> --> 
          <span itemprop="name"><%= link_to "Website", @author.website %></span>
        </li>
      </ul>
      </div></div>

     
      <br>
      <% if user_signed_in? %>
        
          <%= link_to 'Edit', edit_author_path(@author), class: 'btn btn-default btn-xs' %>
        
      <% end %>
    </div>
</aside>
<div class="col-md-8">
  <% if @posts.count > 0 %>
    
      <h3 class="white">Recent posts</h3>

        <% @posts.each do |post| %>
      <div class="col-right">
        <div class="post">
          <div class="blog-img">
            <% if post.image.blank? %>
              <a href="<%= post_path(post) %>"><img src="<%= asset_path 'PLAY.png' %>" alt="<%= post.title %>" class="img-responsive"></a>
            <% else %>
                <a href="<%= post_path(post) %>"><img src="<%= asset_path post.image %>" alt="<%= post.title %>" class="img-responsive" ></a>
            <% end %>
            <h2 class="lead text-center"><a href="<%= post_path(post) %>" title="<%= post.title %>"><%= post.title %></a></h2>
          </div>
        </div>
      </div>
      <br>
    <% end %>
    <% if @posts.all.count > 3 %>
      <div class="col-right">
      <div class="apple_pagination">
        <%= will_paginate @posts %>
        </div>
      </div><!-- end col-right-->
    <% end %>

      </div>
    <% end %>
  </div>
</div></div></div></section>