<div class="table-responsive">
  <table class="table ct-table--withBorder ct-fw-300">
    <thead class="text-left">
      <tr>
        <th>Qty</th>
        <th>Item</th>
        <th><span class="pull-right">Price</span></th>
        <th>
          <span class="pull-right"><%= Shoppe.settings.tax_name %></span>
        </th>
        <th><span class="pull-right">Sub-Total</span></th>
      </tr>
    </thead>
  <tbody>
    <% for item in order.order_items %>
      <tr style="background-color: #ddd">
        <td class="quantity">
          <% unless defined?(readonly) %>
            <span>
              <%= link_to "<i class='fa fa-plus-circle'></i>".html_safe, adjust_basket_item_quantity_path(item.id), :method => :post, :class => 'ajax' %>
              <%= link_to "<i class='fa fa-minus-circle'></i>".html_safe, adjust_basket_item_quantity_path(item.id), :method => :delete, :class => 'ajax' %>
            </span> 
          <% end %>
          <%= item.quantity %>
        </td>
        <td class="product">
          <%= item.ordered_item.full_name %>
          <% unless defined?(readonly) %>
            <%= link_to "<i class='fa fa-times-circle'></i>".html_safe, remove_basket_item_path(item), :method => :delete, :class => 'delete ajax', title: 'remove' %>
          <% end %>
        </td>
        <td class="money price">
          <span class="pull-right"><%= number_with_precision(item.sub_total, precision: 2, delimiter: ' ') %></span>
        </td>
        <td class="money tax">
          <span class="pull-right"><%= number_with_precision(item.tax_amount, precision: 2, delimiter: ' ') %></span>
        </td>
        <td class="money total">
          <span class="pull-right"><%= number_with_precision(item.total, precision: 2, delimiter: ' ') %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <% if order.delivery_service %>
      <tr class="delivery">
        <td class="method" colspan="4">
          <% if defined?(readonly) %>
            <%= order.delivery_service.name %>
          <% else %>
            <%= form_tag change_delivery_service_path do  %>
              <%= select_tag 'delivery_service', options_from_collection_for_select(order.available_delivery_services, :id, :name, order.delivery_service.id) %>
            <% end %>
          <% end %>
        </td>
        <td class="money">
          <%= number_with_precision(order.delivery_price, precision: 2, delimiter: ' ') %>
        </td>
      </tr>
    <% end %>
    <% if promotion_value > 0 %>

    <tr class="subtotal">
      <td colspan="4" class="no-border">Promotion discount</td>
      <td class="money">
        <%= number_with_precision(promotion_value, precision: 2, delimiter: ' ') %>
      </td>
    </tr>
    <% end %>
      <tr class="subtotal">
        <td></td>
        <td colspan="3"><span class="pull-right">Total (ex. <%= Shoppe.settings.tax_name %>)</span></td>
        <td class="money">
          <span class="pull-right"><%= number_with_precision(order.total_before_tax, precision: 2, delimiter: ' ') %></span>
        </td>
      </tr>
    <tr class="tax">
      <td></td>
      <td colspan="3"><span class="pull-right">
        <%= Shoppe.settings.tax_name %></span>
      </td>
      <td class="money">
        <span class="pull-right"><%= number_with_precision(order.tax, precision: 2, delimiter: ' ') %></span>
      </td>
    </tr>
    <tr class="total">
      <td></td>
      <td colspan="3"><span class="pull-right"><strong>Total</strong></span></td>
      <td class="money">
        <span class="pull-right"><strong><%= number_with_precision(order.total, precision: 2, delimiter: ' ') %></strong></span>
      </td>
    </tr>
  </tfoot>
</table>
