<% products.each do |product| %>
      
        <div class="workshop-item" style="background-color: #<%= product.in_the_box %>;">
        <div class="row">
          <div class="col-lg-6">

            <% if product.product_attributes.find_by(key: 'image') %>
              <%= image_tag product.product_attributes.find_by(key: 'image').value, class: 'img-responsive pull-right img-thumbnail' %>
            <% end %>
          </div>
          <div class="col-lg-6">
          <div class="course-item-content">
          
              
            <h3 class="course-item-headline">
              <%= link_to product.name, product_path(product.product_category.permalink, product.permalink) %>
            </h3>
            
            <p class="course-item-info">
              <%= product.short_description.html_safe %>
            </p>
            <p class="price">
              <%= number_to_currency(product.price * 1.1) %> (incl. GST)
            </p>
            <br>
            <%= link_to "More info", product_path(product.product_category.permalink, product.permalink), class: "btn-block btn-block-light btn-small" %>
            <% if product.orderable? %>
              <%= link_to "Add", buy_product_path(product.product_category.permalink, product.permalink), :class => 'add', :method => :post %>
            <% end %>
          </div></div></div>
        </div>
    <% end %>