<div class="ct-mediaSection ct-u-bgdark-lightfont" data-height="100%" data-type="video" data-bg-image-mobile="<%= asset_path 'tunnel3.jpg' %>" style="background-color: #000;">
    <div class="ct-mediaSection-video embed-responsive embed-responsive-16by9">
      
        <video id="video1" muted loop autoplay="autoplay" preload="auto">
            <source src='<%= asset_path "car1.m4v" %>' type='video/mp4'/>
            <source src='<%= asset_path "car2.webm" %>' type='video/webm'/>
        </video>
    </div>
    <div class="ct-u-displayTable">
        <div class="ct-mediaSection-inner">
            <div class="container-fluid" data-stellar-ratio="0.2">
                <h2 class="ct-h-big text-center text-uppercase">create the future<br> learn fast. have fun.</h2>
                <p class="ct-p-intro text-center"></p>
            </div>
           
        </div>
    </div>
</div>
<%= render 'layouts/topbar' %>
 <!--    <div class="ct-u-bgGrey ct-u-paddingTop70 ct-u-paddingBottom40">
                <div class="container">

              <header class="ct-sec-header text-center ct-u-paddingBottom50">
                  <h2 class="ct-sec-header-title">Why Coder Factory?</h2>
              </header>

              <div class="row">
                  <div class="col-sm-4">

                      <div class="ct-iconBox ct-iconBox--top ct-iconBox--bg text-center ct-u-bgWhite animated" data-fx="fadeInUp" data-time="0">
                          <div class="ct-iconBox-icon ct-iconBox-icon--default" style="background:#1ABC9C;">
                              <i class="fa fa-forward"></i>
                          </div>

                          <div class="ct-iconBox-content text-left">
                              <h4 class="ct-iconBox-title text-uppercase text-center ct-fw-600">
                                  Workshops
                              </h4>
                              <p class="lead">
                                  I drove on, a peculiar change crept over the appearance of things. The palpitating greyness grew darker; then—though I was still travelling with prodigious velocity—the blinking
                                  Suc- cession of day and night, which was usually indicative of a slower pace.
                              </p>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-4">
                      <div class="ct-iconBox ct-iconBox--top ct-iconBox--bg text-center ct-u-bgWhite animated" data-fx="fadeInUp" data-time="200">
                          <div class="ct-iconBox-icon ct-iconBox-icon--default" style="background:#09A0EF;">
                              <i class="fa fa-graduation-cap"></i>
                          </div>

                          <div class="ct-iconBox-content text-left">
                              <h4 class="ct-iconBox-title text-uppercase text-center ct-fw-600">
                                  Part Time
                              </h4>
                              <p style="font-family:verdana ;">
                                  I drove on, a peculiar change crept over the appearance of things. The palpitating greyness grew darker; then—though I was still travelling with prodigious velocity—the blinking
                                  Suc- cession of day and night, which was usually indicative.
                              </p>
                          </div>
                      </div>
                  </div>

                  <div class="col-sm-4">
                      <div class="ct-iconBox ct-iconBox--top ct-iconBox--bg text-center ct-u-bgWhite animated" data-fx="fadeInUp" data-time="400">
                          <div class="ct-iconBox-icon ct-iconBox-icon--default" style="background:#FF6A26;">
                              <i class="fa fa-train"></i>
                          </div>

                          <div class="ct-iconBox-content text-left">
                              <h4 class="ct-iconBox-title text-uppercase text-center ct-fw-600">
                                  Fast Track
                              </h4>
                              <p>
                                  I drove on, a peculiar change crept over the appearance of things. The palpitating greyness grew darker; then—though I was still travelling with prodigious velocity—the blinking Suc- cession of day and night, which was usually
                              </p>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div> -->



    <div class="ct-u-bgLightGrey ct-u-paddingBottom80 ct-u-paddingTop30">
         <div class="container">

         <!-- <div class="dropdown ct-dropdown">
           <button class="btn btn-default dropdown-toggle ct-btnDropdown" type="button" id="dropdownMenu1" data-toggle="dropdown">
             SYDNEY
             <span class="caret"></span>
           </button>
           <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SYDNEY</a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">MELBOURNE</a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">BRISBANE</a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ADELAIDE</a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PERTH</a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">GOLD COAST</a></li>
               <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CANBERRA</a></li>
           </ul>

         </div> -->

        <header class="ct-sec-header text-left ct-u-paddingTop35">
                    <h2 class="ct-sec-header-title">WORKSHOPS</h2>
                </header>

                   <div class="row ct-u-paddingTop20 workshop">
                    <div class="col-sm-4">
                        <article class="ct-coursesList ct-u-bgWhite">
                            <div class="ct-courseList-image">
                                <a href="/courses/workshops/learn-to-code-weekend-workshop"><img src="<%= asset_path 'class.jpg' %>" alt="Learn to Code"></a>
                            </div>
                            <div class="entry-meta">
                                <span class="cat-links pull-left"><i class="fa fa-calendar"></i>Learn to Code</span>
                                <br>
                            </div>
                            <div class="ct-coursesList-cont">
                                <h2 class="">Learning to code is not rocket science. Anyone can do it. And it's FUN! </h2>
                            </div>
                            <div class="entry-meta clearfix ct-u-borderTop">
                          <span class="entry-date pull-left">2 days</span>
                          <a href="/courses/workshops/learn-to-code-weekend-workshop" class="btn btn-primary btn-sm pull-right slime" ng-click="courses.changeWorkshop('learnToCode')">Learn More</a>
                      </div>
                        </article>
                    </div>

                    <div class="col-sm-4">
                        <article class="ct-coursesList ct-u-bgWhite">
                            <div class="ct-courseList-image">
                              <a href="/courses/workshops/learn-to-code-for-highschoolers"><img src="<%= asset_path 'highschool.jpg' %>" alt="Highschoolers"></a>
                            </div>
                            <div class="entry-meta">
                                <span class="cat-links pull-left"><i class="fa fa-calendar"></i>Highschool Coders</span>
                                <br>
                            </div>
                            <div class="ct-coursesList-cont">
                                <h2 class="">Highschoolers can code too. The adults shouldn't have all the fun.</h2>
                            </div>
                                                 <div class="entry-meta clearfix ct-u-borderTop">
                          <span class="entry-date pull-left">2 days</span>
                          <a href="/courses/workshops/learn-to-code-for-highschoolers" class="btn btn-primary btn-sm pull-right slime" ng-click="courses.changeWorkshop('teensLearnToCode')">Learn More</a>
                      </div>
                        </article>
                    </div>

                    <div class="col-sm-4">
                        <article class="ct-coursesList ct-u-bgWhite">
                            <div class="ct-courseList-image">
                              <a href="/courses/workshops/technology-for-teachers-workshop"><img src="http://res.cloudinary.com/coder-factory/image/upload/bo_0px_solid_rgb:000,c_fill,h_270,w_410/v1424044389/teachers-technology_k5w6er.jpg" alt="Technology for Teachers"></a>
                            </div>
                            <div class="entry-meta">
                                <span class="cat-links pull-left"><i class="fa fa-calendar"></i>Technology for Teachers</span>
                                <br>
                            </div>
                            <div class="ct-coursesList-cont">
                                <h2 class="">Keep up with your students! Learn how to excite them with tech of the future.</h2>
                            </div>
                                                 <div class="entry-meta clearfix ct-u-borderTop">
                          <span class="entry-date pull-left">2 days</span>
                          <a href="/courses/workshops/technology-for-teachers-workshop" class="btn btn-primary btn-sm pull-right slime" ng-click="courses.changeWorkshop('technologyForTeachers')">Learn More</a>
                      </div>
                        </article>
                    </div>
                   </div><!-- /row -->

                 <header class="ct-sec-header text-left ct-u-paddingTop35">
                    <h2 class="ct-sec-header-title">PART TIME</h2>
                </header>

                   <div class="row ct-u-paddingTop20 partime">
                      <div class="col-sm-4">
                          <article class="ct-coursesList ct-u-bgWhite">
                              <div class="ct-courseList-image">
                                  <a href="/courses/part-time-courses/web-app-developer-pt"><img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_401/v1421879436/qetzogehrzzfrcsntvkk.png" alt="Part Time"></a>
                              </div>
                              <div class="entry-meta">
                                  <span class="cat-links pull-left"><i class="fa fa-calendar"></i>Part Time</span>
                                  <br>
                              </div>
                              <div class="ct-coursesList-cont">
                                  <h2 class="">Learn to build web applications while you keep you day job. </h2>
                              </div>
                              <div class="entry-meta clearfix ct-u-borderTop">
                            <span class="entry-date pull-left">12 weeks</span>
                            <a href="/courses/part-time-courses/web-app-developer-pt" class="btn btn-primary btn-sm pull-right burntsea">Learn More</a>
                        </div>
                          </article>
                      </div>
                   </div><!-- /row -->

                <header class="ct-sec-header text-left ct-u-paddingTop35">
                    <h2 class="ct-sec-header-title">FULL TIME</h2>
                </header>

                   <div class="row ct-u-paddingTop20 fulltime">
                      <div class="col-sm-4">
                          <article class="ct-coursesList ct-u-bgWhite">
                              <div class="ct-courseList-image">
                                  <a href="/fast-track"><img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_401/v1421879436/qetzogehrzzfrcsntvkk.png" alt="Part Time"></a>
                              </div>
                              <div class="entry-meta">
                                  <span class="cat-links pull-left"><i class="fa fa-calendar"></i>Full Time</span>
                                  <br>
                              </div>
                              <div class="ct-coursesList-cont">
                                  <h2 class="">Make a career change with our 24 week intensive full time courses. </h2>
                              </div>
                              <div class="entry-meta clearfix ct-u-borderTop">
                            <span class="entry-date pull-left">6 months</span>
                            <a href="/fast-track" class="btn btn-primary btn-sm pull-right darkknight">Learn More</a>
                        </div>
                          </article>
                      </div>
                   </div><!-- /row -->


                </div><!-- /container -->
             </div>


  <!-- <div class="ct-mediaSection ct-u-paddingBoth50 ct-u-bgMotive">
      <div class="ct-mediaSection-inner">
          <div class="container">
              <div class="row">

                  <div class="tweet-content col-sm-10 col-sm-offset-1">

                      <a href="#" class="tweet-icon"><i class="fa fa-twitter fa-tweets"></i></a>
                      <div class="tweets_display flexslider" data-limit="2" data-animation="fade" data-loop="true" data-animspeed="600" data-dircontrols="true">

                      </div>
                  </div>

              </div>
          </div>      
      </div> 
  </div> -->


    <div class="ct-mediaSection ct-u-bgDarkgrey" data-stellar-background-ratio="0.2" data-height="420" data-type="parallax" data-bg-image="<%= asset_path 'keyboard.jpg' %>" data-bg-image-mobile="<%= asset_path 'keyboard.jpg' %>">
       <div class="ct-mediaSection-inner">
         <div class="container">

           <div class="row">
             <div class="col-sm-6 col-sm-offset-3">
               <div class="ct-newsletter ct-u-bgdark-lightfont text-center">
                 <h2 class="text-uppercase">Recieve tips and tutorials</h2>
                   
                 <form action="//coderfactory.us7.list-manage.com/subscribe/post?u=1c644187b6d7e06d32bcae158&amp;id=2afdc8b0c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="ct-form--newsletter validateIt" target="_blank" novalidate>
                 <div class="form-group animated" data-fx="fadeInUp" data-time="0">
                 <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="Enter Email Address" />
                   <div id="mce-responses" class="clear">
                     <div class="response" id="mce-error-response" style="display:none"></div>
                     <div class="response" id="mce-success-response" style="display:none"></div>
                   </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                     <div style="position: absolute; left: -5000px;"><input type="text" name="b_1c644187b6d7e06d32bcae158_2afdc8b0c3" tabindex="-1" value=""></div>
                     <br><br>
                 <input type="submit" class="btn btn-primary animated" data-fx="fadeInUp" data-time="0" value="Receive Updates!" name="subscribe" id="mc-embedded-subscribe" >
                 </form>
               </div>
             </div>
           </div><!-- /row -->
         </div><!-- /container -->
       </div><!-- /ct-mediaSection-inner -->
     </div>