<% @page_title = 'Checkout' %>
<% @hide_newsletter_registration = true %>
<% @hide_basket = true %>
<%= content_for :header, 'small-header' %>
<%= content_for :title, "Finalise your Coder Factory order." %>
<%= content_for :description, "The payment page of Coder Factory's online store." %>
<div class="ct-mediaSection ct-u-bgBlack ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="330" data-type="parallax" data-bg-image="<%= asset_path 'slider4.jpg' %>" data-bg-image-mobile="<%= asset_path 'slider4.jpg' %>">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <h3 class="ct-breadcrumbHeader text-uppercase pull-left">Almost there..</h3>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>
<div class="ct-breadcrumbs-sec--mini ct-u-paddingBoth20 ct-u-bg-Grey">
    <div class="container">

      <div class="ct-breadcrumbs-text pull-left text-uppercase"><a href="13-actly-feature-section.html">Payment</a></div>
      <ul class="ct-navbarIcons list-unstyled list-inline pull-right">
        <!-- <li>
          <form class="header-search" role="search">
            <div class="form-group pull-left">
                <input type="text" class="form-control search-input" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
          </form>
        </li>
        <li class="ct-search-open-icon-js"><a href="#"><i class="fa fa-search"></i></a></li> -->
        <li><i class="fa fa-lock slime-text"></i> <span class="slime-text">Secure Connection</span></li>
      </ul>

    </div><!-- /container -->
  
</div>


<div class="ct-u-bgGrey">
  <div class="container">
    <div class="checkout">
      <!-- <p class="secure">Secure connection</p> -->
     <!--  <header class="ct-sec-header text-center">
        <h2 class="ct-sec-header-title">Final step</h2>
      </header> -->

  <p class="intro">
    Please click on the Pay button to secure your place.
    <form accept-charset="UTF-8" action="<%= checkout_payment_path %>" method="post">
  <div style="display:none">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
  </div>
  <noscript>You must <a href="http://www.enable-javascript.com" target="_blank">enable JavaScript</a> in your web browser in order to pay via Stripe.</noscript>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Shoppe.settings.stripe_publishable_key %>"
    data-amount="<%= current_order.total.to_i * 100 %>"
    data-name="Coder Factory"
    data-description="<%= pluralize(current_order.order_items.count, 'item') %>"
    data-image="<%= asset_url('FBlogo.png') %>"
    data-email='<%= current_order.email_address %>'
    data-currency="aud"
    data-label="Pay now">
  </script>
</form>
<% if @order.errors.any? %>
<%= display_flash %>
<% end %>
  </p>
  <%= render 'shared/order_items', :order => current_order, :readonly => true %>
  <div class="pull-right">
  
</div>
<div class="ct-u-paddingBottom50"></div>
  <%# form_tag checkout_confirmation_path, :method => :patch, :class => 'disableable' do %>
    <!-- <p class="submit">
      <%# submit_tag "Place Order", :class => 'order' %>
    </p> -->
  <%# end %>
</div>
</div></div>

