<%= content_for :title, 'Join the Coder Factory Community' %>
<%= content_for :description, 'Check out the great community events and supportive partners. Join our thriving community of creators, makers and coders.' %>

<% active_nav_item :community %>
<% content_for :header, 'community-header' %>
<% @community = true %>
<div class="ct-mediaSection ct-u-bgBlack ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="400" data-type="parallax" data-bg-image="http://res.cloudinary.com/coder-factory/image/upload/v1418034058/heart_fivwmy.jpg" data-bg-image-mobile="http://res.cloudinary.com/coder-factory/image/upload/v1418034058/heart_fivwmy.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <h1 class="ct-breadcrumbHeader text-uppercase pull-left">We <i class="fa fa-heart"></i> Community</h1>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>

    


   <div class="ct-u-bgLightGrey">
         <div class="container">
             <div class="row">

               <div class="col-md-12 ct-colContent ct-u-paddingBoth60">

                 <div class="row">

                    <div class="col-sm-12">
                      <div class="ct-coursesList ct-courseList--image animated" data-fx="fadeInUp">
                        <div class="ct-courseList--image-image pull-left">
                          <img src="http://res.cloudinary.com/coder-factory/image/upload/v1426106699/sunday_coder_club_zervx1.png" alt="Sunday Coder Club" />
                        </div>
                        <div class="ct-courseList--image-content">
                          <div class="ct-coursesList-cont">
                                <h2 class="text-uppercase"><i class="fa fa-lg fa-trophy"></i> Sunday Coder Club </h2>
                                <p>A fortnightly meetup for coders of all stripes. Beginners going through tutorials, experienced coders working on their own projects. Be inspired and socialise with other tech fans.</p>
                            </div>
                   <div class="entry-meta clearfix ct-u-borderTop">
                     <div class="pull-left">
                        <a href="http://www.meetup.com/Sunday-Coder-Club/" target="_blank" class="btn btn-primary btn-sm text-uppercase pull-left">Sydney</a>
                        </div>
                        <a href="http://www.meetup.com/Brisbane-Coder-Club/" target="_blank" class="btn btn-primary btn-sm text-uppercase pull-left">Brisbane</a>
                     </div>
                       </div>

                          </div>
                      </div>
                    </div><!-- /col-sm-12 -->

                     <div class="col-sm-12">
                      <div class="ct-coursesList ct-courseList--image animated" data-fx="fadeInUp">
                        <div class="ct-courseList--image-image pull-left">
                          <img src="http://res.cloudinary.com/coder-factory/image/upload/v1426106850/sydney_on_rails_fkj7cd.jpg" alt="Sydney on Rails" />
                        </div>
                        <div class="ct-courseList--image-content">
                          <div class="ct-coursesList-cont">
                                <h2 class="text-uppercase"><i class="fa fa-lg fa-graduation-cap"></i> Sydney on rails </h2>
                                <p>A fortnightly workshop session to help you get started with Ruby on Rails. Aimed at total beginners, it's a great opportunity to be introduced to the community and create your first application.</p>
                            </div>
                   <div class="entry-meta clearfix ct-u-borderTop">
                     <div class="pull-left">
                        <a href="http://www.meetup.com/Sydney-on-Rails/" target="_blank" class="btn btn-primary btn-sm btn-block text-uppercase">Sydney</a>
                     </div>
                       </div>

                          </div>
                      </div>
                    </div><!-- /col-sm-12 -->

                     <div class="col-sm-12">
                      <div class="ct-coursesList ct-courseList--image animated" data-fx="fadeInUp">
                        <div class="ct-courseList--image-image pull-left">
                          <img src="http://res.cloudinary.com/coder-factory/image/upload/v1426107008/web_application_ck3ixc.png" alt="Sydney Web Apps group" />
                        </div>
                        <div class="ct-courseList--image-content">
                          <div class="ct-coursesList-cont">
                                <h2 class="text-uppercase"><i class="fa fa-lg fa-plus"></i> Sydney web apps group </h2>
                                <p>A large community of web app coders coming together to learn and connect. With industry experts presenting and sharing their knowledge, it's a great place to learn something new.</p>
                            </div>
                   <div class="entry-meta clearfix ct-u-borderTop">
                     <div class="pull-left">
                        <a href="http://www.meetup.com/SydneyWebApps/" target="_blank" class="btn btn-primary btn-sm btn-block text-uppercase">Sydney</a>
                     </div>
                       </div>

                          </div>
                      </div>
                    </div><!-- /col-sm-12 -->

                     <div class="col-sm-12">
                      <div class="ct-coursesList ct-courseList--image animated" data-fx="fadeInUp">
                        <div class="ct-courseList--image-image pull-left">
                          <img src="http://res.cloudinary.com/coder-factory/image/upload/c_scale,w_300/v1426107157/Young-Entrepreneur_xm7hsn.jpg" alt="Young Entrepreneurs" />
                        </div>
                        <div class="ct-courseList--image-content">
                          <div class="ct-coursesList-cont">
                                <h2 class="text-uppercase"><i class="fa fa-lg fa-certificate"></i> Young Entrepreneurs </h2>
                                <p>This group is a fanatastic opportunity for young entrepreneurs to meet each other, share ideas and learn about how technology can bring their dreams to life.</p>
                            </div>
                   <div class="entry-meta clearfix ct-u-borderTop">
                     <div class="pull-left">
                        <a href="http://www.meetup.com/Entrepreneurial-Australians/" target="_blank" class="btn btn-primary btn-sm btn-block text-uppercase">Sydney</a>
                     </div>
                       </div>

                          </div>
                      </div>
                    </div><!-- /col-sm-12 -->

                  </div><!-- /row -->


             </div><!-- /row -->
         </div><!-- /container -->
   </div>


    <div class="ct-u-paddingBoth60">
         <div class="inner-sec">
           <div class="container">

           <header class="ct-sec-header text-center ct-u-paddingTop35 ct-u-paddingBottom30 ">
               <h2 class="ct-sec-header-title">Our amazing partners</h2>
                <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                  <p class="ct-p-bigger">These great companies support the Coder Factory tech community and are doing their part to create a diverse and welcoming industry.</p>
                </div>
              </div>

           </header>

               <div class="flexslider ct-js-flexslider ct-flexslider--chevronDark ct-js-flexslider-noMargin ct-u-navArrow-marginTop-80" data-controlnav="false" data-directionnav="true" data-minitems="1" data-maxitems="4"
                    data-move="1" data-itemwidth="260" data-itemmargin="0">
                   <ul class="slides partnerSlider">
                        <li>
                           <a href="http://coderangers.com.au/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'coderangers.png' %>" alt="Code Rangers">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="https://www.dropbox.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'dropbox.png' %>" alt="Dropbox">
                               </div>
                           </a>
                       </li>
                       <li>
                           <a href="http://www.woman.com.au/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'womancomau.jpg' %>" alt="Woman">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="http://codr.tv/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'codrtv.png' %>" alt="Codr.TV">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="https://www.vistr.co/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'vistr.png' %>" alt="Vistr">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="https://muru-d.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'murud.png' %>" alt="muru-D">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="http://www.spacecubed.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'spacecubed.png' %>" alt="Spacecubed">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="http://www.crazydomains.com.au/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'crazydomains.jpg' %>" alt="Crazy Domains">
                               </div>
                           </a>
                       </li>
                   </ul>
                    <ul class="slides partnerSlider">
                       <li>
                           <a href="http://foundrmag.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'foundr.png' %>" alt="FoundR">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="https://www.coinjar.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'coinjar.png' %>" alt="Coinjar">
                               </div>
                           </a>
                       </li>
                       <li>
                           <a href="http://www.pozible.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'pozible.png' %>" alt="Pozible">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="http://www.crowdsourcehire.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'crowdsourcehire.png' %>" alt="Crowd Source Hire">
                               </div>
                           </a>
                       </li>
                       <li>
                           <a href="http://kapcher.co/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'kapcher.png' %>" alt="Kapcher">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="http://www.crowdsurfa.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'crowdsurfa.png' %>" alt="Crowd Surfa">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="https://www.airpair.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'airpair.png' %>" alt="Airpair">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="https://nomadlist.io/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'nomadlist.png' %>" alt="Nomadlist">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="https://www.growthhacker.tv/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'growthhackertv.png' %>" alt="Growth Hacker TV">
                               </div>
                           </a>
                       </li>
                   </ul>
                    <ul class="slides partnerSlider">
                       <li>
                           <a href="http://www.lonelyplanet.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'lonelyplanet.png' %>" alt="Lonely Planet">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="http://www.sitepoint.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'sitepoint.png' %>" alt="Sitepoint">
                               </div>
                           </a>
                       </li>
                       <li>
                           <a href="http://www.codehire.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'codehire.png' %>" alt="Code Hire">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="http://www.getvero.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'getvero.png' %>" alt="Vero">
                               </div>
                           </a>
                       </li>
                       <li>
                           <a href="https://learnable.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'learnable.jpg' %>" alt="Learnable">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="https://flippa.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'flippa.jpg' %>" alt="Flippa">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="https://zoak.solutions/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'Zoak.png' %>" alt="Zoak">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="http://www.dreamscapenetworks.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'dreamscape.png' %>" alt="Dreamscape">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="http://www.locomote.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'locomote.jpg' %>" alt="Locomote">
                               </div>
                           </a>
                       </li>
                   </ul>
               </div>

          </div><!-- /container -->
        </div><!-- /ct-mediaSection-inner -->
      </div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52ee398713b80ae1" async="async"></script>