 <div class="ct-mediaSection ct-u-bgBlack ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="400" data-type="parallax" data-bg-image="http://res.cloudinary.com/coder-factory/image/upload/v1425959303/about_globe_yjckvb.jpg">
    <div class="ct-mediaSection-inner">
<!--         <div class="container">
            <h3 class="ct-breadcrumbHeader text-uppercase pull-left">About</h3>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>


    <div class="ct-mediaSection ct-u-bgLightGrey ct-u-paddingTop60 ct-u-paddingBottom30 ct-u-bgGrey">
       <div class="ct-mediaSection-inner">
         <div class="container">


           <div class="ct-memberInfo clearfix">
             <img src="<%= @teacher.image %>" alt="<%= @teacher.name %>" class="ct-memberInfo ct-u-border-radius50 pull-left" />
             <div class="ct-memberInfo-meta text-uppercase ct-u-displayTableCell ct-u-paddingBottom20">
                <h4 class="ct-memberInfo-tit"><%= @teacher.name %></h4>

               <ul class="list-unstyled">
                 <li>
                   <span class="entry-date-tit">Position:</span><a href=""><span class="ct-member-name-tit"> <%= @teacher.title %></span></a>
                 </li>
                <li class="ct-u-shortBorderBefore">
                 <span class="entry-numOfCourse-tit">LinkedIn:</span>
                    <a href="<%= @teacher.link %>" target="_blank"><span class="ct-member-name-tit"> Profile</span></a>
                 </li>
                 <li class="ct-u-shortBorderBefore">
                   <span class="entry-numOfCourse-tit">Active Courses:</span><span class="entry-numOfCourse">1</span>
                 </li>
               </ul>

             </div>
           </div>

           <h4 class="text-uppercase ct-fw-700 ct-titleSmaller ct-u-paddingBoth20"><%= @teacher.name %> Bio</h4>

           <p><%= @teacher.blurb.html_safe %></p>

        </div><!-- /container -->
      </div>
     </div>




    <div class="ct-u-bgDarkgrey ct-u-paddingBoth70">
         <div class="container">
           <div class="ct-cta text-center">
                 <p class="text-uppercase">Ready to Learn with us?</p>
                 <a href="/" class="btn btn-primary   animated" data-fx="fadeInUp">Complete course list</a>
             </div>
         </div><!-- /container -->
     </div>

