<%= content_for :title, "Join the Fast Track to an exciting life. Coder Factory's full time program for aspiring developers." %>
<%= content_for :description, "Coder Factory's Fast Track is an accelerated and revolutionary 24 week program that places you in a well paid, exciting career in the tech industry." %>


<div class="ct-mediaSection ct-u-bgWhite ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="430" data-type="parallax" data-bg-image="http://res.cloudinary.com/coder-factory/image/upload/v1418032899/ontrain2_u37tnf.jpg" data-bg-image-mobile="http://res.cloudinary.com/coder-factory/image/upload/v1418032899/ontrain2_u37tnf.jpg">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <h1 class="ct-breadcrumbHeader text-uppercase pull-left">Fast Track <br>
            <span style="font-size:25px;">Your boarding pass to the world of tech.</span></h1>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>

<div class="ct-u-bgLightGrey ct-u-paddingBoth60 ct-u-bgGrey">
  <div class="container">
    <div class="ct-singleCourse">
      <div class="ct-singleCourse-intro ct-u-bgWhite">
        <img alt="Web Design Workshop" src="<%= asset_path 'julia.jpg' %>" />

        <div class="ct-singleCourse-introLinks clearfix">
          <div class="entry-meta pull-left">
            <span class="cat-links ct-u-borderRight"><i class="fa fa-train"></i> Fast Track
                </span>
            <span class="entry-date ct-u-borderRight"><i class="fa fa-calendar"></i>&nbsp; 7 April</span>
          </div>
            <a href="http://au.linkedin.com/in/ddraper" class="by-author pull-left">
                <img src="<%= asset_path 'dand.jpg' %>" alt="author img">
                <span class="by-autor-name">Dan Draper</span>, <span class="by-autor-prof">Teacher</span>
            </a>

            <div class="entry-meta pull-right">
                <div class="ct-u-displayInlineBlock">
                    <a href="/course_registrations/new" class="btn btn-primary btn-sm ct-u-displayInlineBlock">Download Info Pack</a> 
                    <a href="/fast-track-application" class="btn btn-fasttrack btn-sm">Apply Now</a>
                </div>
            </div>
        </div>
                </div>

        </div>
    </div>
</div>

 <header class="ct-sec-header text-center ct-u-paddingTop35 ct-u-paddingBottom30 ">
               <h2 class="ct-sec-header-title">Change your life in 24 weeks</h2>
           </header>

        <div class="ct-mediaSection-inner ct-u-paddingBottom60">
          <div class="container">

            <div class="row ct-pricing">

                <section class="col-sm-6">

                    <h4 class="ct-pricing-sep text-uppercase text-center fasttrack white-text">
                        What is Fast Track?
                    </h4>

                    <div class="ct-pricing-content">
                        <p class="main-box">Coder Factory's Fast Track is an <span style="font-weight:700;font-size:1em;">accelerated 24 week program</span> that teaches you the skills for an exciting career in the tech industry. It's also ideal for those looking to launch their own web app or become a tech co-founder.</p>
                    </div>

                </section>

                <section class="col-sm-6">

                    <h4 class="ct-pricing-sep text-uppercase text-center dirty-gold white-text">
                        Never coded before?
                    </h4>

                    <div class="ct-pricing-content">

                        <p class="main-box">No problem! Fast Track assumes no prior coding knowledge. Our program combines daily workshops with real life coding challenges, to provide you with the skills and knowledge to take you from a complete beginner to an accomplished full-stack developer. </p>
                    </div>

                </section>


            </div><!-- /row -->

                        <div class="row ct-pricing">

                <section class="col-sm-6">

                    <h4 class="ct-pricing-sep text-center text-uppercase dirty-gold white-text">
                        What can i expect?
                    </h4>

                    <div class="ct-pricing-content">

                        <p class="main-box">You'll learn to code in Ruby on Rails, the fastest growing web application framework. You'll also learn HTML5 and CSS3, along with NodeJS and AngularJS, the most popular Javascript technologies. <br><br>
  You'll be coding using Agile development methodologies from day 1 in a fun and challenging environment.
</p>
                    </div>

                </section>

                <section class="col-sm-6">

                    <h4 class="ct-pricing-sep text-center text-uppercase dirty-gold white-text">
                        Fast Track options?
                    </h4>

                    <div class="ct-pricing-content">

                        <p class="main-box">Fast Track offers 2 program strcutures:<br>
<span style="font-weight:700;font-size:1em;">12 week program:</span> Learn faster in our small classrooms, and benefit from the experience of our world class teachers. <br>
<span style="font-weight:700;font-size:1em;">24 week program:</span> Continue to learn in our master classes. Work on real projects for potential employers, or work on your own app idea with the help of our teachers.<br><br>
</p>
                    </div>

                </section>


            </div><!-- /row -->

          </div><!-- /container -->
    </div>



    <div class="ct-mediaSection-inner ct-u-paddingBoth60 ct-u-bgGrey">
            <div class="ct-mediaSection-inner">
              <div class="container">

                <div class="row">
                    <div class="col-sm-11 col-sm-offset-1">
                      <div class="ct-iconBox ct-iconBox--default ct-iconBox--left text-center ct-iconBox--bgDark animated" data-fx="fadeInUp" data-time="0">
                          <div class="ct-iconBox-icon ct-iconBox-icon--default ct-iconBox-icon--left dirty-gold">
                            <i class="fa fa-graduation-cap"></i>
                            </div>
                            <div class="ct-iconBox-content ct-iconBox-content--default ct-u-paddingMoreL text-left">
                                <h4 class="ct-iconBox-title">
                                  Premium Quality, The Best Teachers
                                </h4>
                              <p>
                                Learning to code is a journey, and we recognise that everyone learns in different ways. We've invested in the best teachers and incentivised them well. We've organised everything around ensuring a collaborative learning environment, one where you can learn with your fellow classmates but that also allows personalisation to suit your needs.  <br>
                                We're based in a newly renovated premise in the creative and technology hub of Surry Hills, Sydney. You'll enjoy coming to class for the learning opportunities, the challenges and the chance to mix with interesting people. 
                                  </p>
                                  
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-11 col-sm-offset-1">
                      <div class="ct-iconBox ct-iconBox--default ct-iconBox--right ct-iconBox--bgDark text-center animated" data-fx="fadeInUp" data-time="0">
                          <div class="ct-iconBox-icon ct-iconBox-icon--default ct-iconBox-icon--right dirty-gold ">
                            <i class="fa fa-laptop"></i>
                            </div>
                            <div class="ct-iconBox-content ct-iconBox-content--default ct-u-paddingMoreR text-right">
                                <h4 class="ct-iconBox-title">
                                  Real Experience
                                </h4>
                              <p>
                                Unlike some other schools, we put a huge focus on teaching relevant skills. Classroom learning is combined with projects that help you gain practical experience using the tools and methodologies of a professional developer. During both the 12 week and 24 week programs you'll get to build a portfolio of applications that both help you learn and also enable you to showcase your skills. Coder Factory is very active in the local technology and startup communities, which benefits our students greatly. We work alongside our industry contacts to ensure our courses are up to date and relevant. Our network is your network. 
                                  </p>
                                </p>
                                <p>
                                
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-11 col-sm-offset-1">
                      <div class="ct-iconBox ct-iconBox--default ct-iconBox--left ct-iconBox--bgDark text-center animated" data-fx="fadeInUp" data-time="0">
                          <div class="ct-iconBox-icon ct-iconBox-icon--secondary ct-iconBox-icon--left dirty-gold">
                              <i class="fa fa-tasks"></i>
                            </div>
                            <div class="ct-iconBox-content ct-iconBox-content--default  ct-u-paddingMoreL text-left">
                                <h4 class="ct-iconBox-title">
                                  Full Stack Skills
                                </h4>
                              <p>
                                You'll graduate as a proficient coder, with skills in UX, database design, application architecture and sysops.  Whether you choose to work as a developer in an exciting new tech startup or an established enterprise, or become a tech co-founder in your own startup, you'll be confident that you have the skills and network to succeed. 
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>

              </div><!-- /container -->
            </div><!-- /ct-mediaSection-inner -->
        </div>



    <div class="ct-u-paddingBoth60">
         <div class="inner-sec">
           <div class="container">

           <header class="ct-sec-header text-center ct-u-paddingTop35 ct-u-paddingBottom30 ">
               <h2 class="ct-sec-header-title">Our partners</h2>
           </header>

               <div class="flexslider ct-js-flexslider ct-flexslider--chevronDark ct-js-flexslider-noMargin ct-u-navArrow-marginTop-80" data-controlnav="false" data-directionnav="true" data-minitems="1" data-maxitems="4"
                    data-move="1" data-itemwidth="260" data-itemmargin="0">
                   <ul class="slides partnerSlider">
                       <li>
                           <a href="http://www.lonelyplanet.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'lonelyplanet.png' %>" alt="Lonely Planet">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="http://www.sitepoint.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'sitepoint.png' %>" alt="Sitepoint">
                               </div>
                           </a>
                       </li>
                       <li>
                           <a href="http://www.codehire.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'codehire.png' %>" alt="Code Hire">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="http://www.getvero.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'getvero.png' %>" alt="Vero">
                               </div>
                           </a>
                       </li>
                       <li>
                           <a href="https://learnable.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'learnable.jpg' %>" alt="Learnable">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="https://flippa.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'flippa.jpg' %>" alt="Flippa">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="https://zoak.solutions/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'Zoak.png' %>" alt="Zoak">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="http://www.dreamscapenetworks.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'dreamscape.png' %>" alt="Dreamscape">
                               </div>
                           </a>
                       </li>
                        <li>
                           <a href="http://www.locomote.com/" target="_blank" class="ct-teamBox ct-teamBox--small">
                               <div>
                               <img src="<%= asset_path 'locomote.jpg' %>" alt="Locomote">
                               </div>
                           </a>
                       </li>
                   </ul>
               </div>

          </div><!-- /container -->
        </div><!-- /ct-mediaSection-inner -->
      </div>




           <header class="ct-sec-header text-center ct-u-paddingTop35 ct-u-paddingBottom30 ">
               <h2 class="ct-sec-header-title">The Program</h2>
           </header>

        <div class="ct-mediaSection-inner ct-u-paddingBottom60">
          <div class="container">

            <div class="row ct-pricing">

                <section class="col-sm-6">
                    <h4 class="ct-pricing-sep text-center text-uppercase dirty-gold">
                        12 week program
                    </h4>

                    <div class="ct-pricing-content">
                        <ul class="ct-pricing-content-ul">
                            <li>7th April - 26th June 2015</li>
                            <li>Monday - Friday: 10am - 6pm</li>
                            <li>Intensive classroom learning (480 hours)</li>
                            <li>AUD $14,200</li>
                            <br>
                            <li>Included:</li>
                            <li class="ct-pricing-content-ul-activesep">Apple MacBook Air 13" * </li>
                            <li class="ct-pricing-content-ul-activesep">Amazing, industry experienced teachers.</li>
                            <li class="ct-pricing-content-ul-activesep">High tech learning environment</li>
                            <li class="ct-pricing-content-ul-activesep">Industry events and excursions</li>
                            <li><br>* $1,000 discount if you have your own MacBook</li>
                        </ul>
                    </div>

                </section>

                <section class="col-sm-6">
                    <h4 class="ct-pricing-sep text-center text-uppercase dirty-gold">
                        24 week program
                    </h4>
                    <div class="ct-pricing-content">
                        <ul class="ct-pricing-content-ul">
                            <li>7th April - 21st Sept 2015</li>
                            <li>Monday - Friday: 10am - 6pm</li>
                            <li>Intensive classroom learning (960 hours)</li>
                            <li>AUD $21,900</li>
                            <br>
                            <li>Included:</li>
                            <li class="ct-pricing-content-ul-activesep">Everything from the 12 week program, plus </li>
                            <li class="ct-pricing-content-ul-activesep">Full recruitment support</li>
                            <li class="ct-pricing-content-ul-activesep">12 weeks of bonus experience and master classes</li>
                            <li class="ct-pricing-content-ul-activesep">Interview preparation sessions</li>
                            <li><br><br></li>
                        </ul>
                    </div>
                    <div class="entry-meta pull-right">
                <div class="ct-u-displayInlineBlock">
                <br>
                    <a href="/course_registrations/new" class="btn btn-primary btn-sm ct-u-displayInlineBlock">Download Info Pack</a>
                     <a href="/fast-track-application" class="btn btn-fasttrack btn-sm">Apply Now</a>
                </div>
            </div>

                </section>


            </div><!-- /row -->

          </div><!-- /container -->
    </div>




   <div class="ct-u-paddingTop50 ct-u-bgGrey">
      <div class="container">
         <header class="ct-sec-header text-center ct-u-paddingTop35 ct-u-paddingBottom30">
               <h2 class="ct-sec-header-title">What you'll Learn</h2>
           </header>
           <br>
           <div class="row">
                <div class="col-sm-4">
                    <div class="ct-iconBox ct-iconBox--left">
                        <div class="ct-iconBox-icon ct-iconBox-icon--circle ct-iconBox-icon--left dirty-gold">
                            <i class="fa fa-fighter-jet"></i>
                        </div>
                        <div class="ct-iconBox-content">
                            <h4 class="ct-iconBox-title text-uppercase ct-fw-900">
                              Agile Methodology
                            </h4>
                            <p>
                              Sprint Based Learning means you're an expert by graduation.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ct-iconBox ct-iconBox--left">
                        <div class="ct-iconBox-icon ct-iconBox-icon--circle ct-iconBox-icon--left dirty-gold">
                            <i class="fa fa-list"></i>
                        </div>
                        <div class="ct-iconBox-content">
                            <h4 class="ct-iconBox-title text-uppercase ct-fw-900">
                              Javascript Frameworks
                            </h4>
                            <p>
                              Learn the hottest JavaScript frameworks - AngularJS + NodeJS.
                            </p>
                        </div>
                    </div>
                </div>
              <div class="col-sm-4">
                    <div class="ct-iconBox ct-iconBox--left">
                        <div class="ct-iconBox-icon ct-iconBox-icon--circle ct-iconBox-icon--left dirty-gold">
                          <i class="fa fa fa-trophy"></i>
                        </div>
                        <div class="ct-iconBox-content">
                            <h4 class="ct-iconBox-title text-uppercase ct-fw-900">
                              Team Work
                            </h4>
                            <p>
                              Your team competes for code quality glory every day.
                            </p>
                        </div>
                    </div>
                    </div>
            </div><!-- /row -->

            <div class="row">
                <div class="col-sm-4">
                    <div class="ct-iconBox ct-iconBox--left">
                        <div class="ct-iconBox-icon ct-iconBox-icon--circle ct-iconBox-icon--left dirty-gold">
                            <i class="fa fa-code"></i>
                        </div>
                        <div class="ct-iconBox-content">
                            <h4 class="ct-iconBox-title text-uppercase ct-fw-900">
                              Web Programming
                            </h4>
                            <p>
                              Ruby on Rails mastery is your ticket to developer fame and fortune.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ct-iconBox ct-iconBox--left">
                        <div class="ct-iconBox-icon ct-iconBox-icon--circle ct-iconBox-icon--left dirty-gold">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="ct-iconBox-content">
                            <h4 class="ct-iconBox-title text-uppercase ct-fw-900">
                              Projects
                            </h4>
                            <p>
                              Complete a project every two weeks for a top rate portfolio.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ct-iconBox ct-iconBox--left">
                        <div class="ct-iconBox-icon ct-iconBox-icon--circle ct-iconBox-icon--left dirty-gold">
                            <i class="fa fa-tablet"></i>
                        </div>
                        <div class="ct-iconBox-content">
                            <h4 class="ct-iconBox-title text-uppercase ct-fw-900">
                              UX and design
                            </h4>
                            <p>
                              Front end programming while keeping the user in mind.
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- /row -->
                        <div class="row">
                <div class="col-sm-4">
                    <div class="ct-iconBox ct-iconBox--left">
                        <div class="ct-iconBox-icon ct-iconBox-icon--circle ct-iconBox-icon--left dirty-gold">
                            <i class="fa fa-puzzle-piece"></i>
                        </div>
                        <div class="ct-iconBox-content">
                            <h4 class="ct-iconBox-title text-uppercase ct-fw-900">
                              Application Architecture
                            </h4>
                            <p>
                              Understand how all the pieces of an application fit together.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ct-iconBox ct-iconBox--left">
                        <div class="ct-iconBox-icon ct-iconBox-icon--circle ct-iconBox-icon--left dirty-gold">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <div class="ct-iconBox-content">
                            <h4 class="ct-iconBox-title text-uppercase ct-fw-900">
                              Sysops
                            </h4>
                            <p>
                              Managing cloud based application infrastructure and resources.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ct-iconBox ct-iconBox--left">
                        <div class="ct-iconBox-icon ct-iconBox-icon--circle ct-iconBox-icon--left dirty-gold">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="ct-iconBox-content">
                            <h4 class="ct-iconBox-title text-uppercase ct-fw-900">
                              HTML and CSS
                            </h4>
                            <p>
                              The bones wrapped around every type of Web App.
                            </p>
                        </div>
                    </div>
                </div>
            </div><!-- /row -->

          </div><!-- /container -->
</div>
<%= render 'layouts/registration_modal' %>