<% active_nav_item :catalogue %>
<% content_for :header, 'fast-track-header' %>
<% @fast_track_header = true %>
<%= content_for :title, "Join the Fast Track to an exciting life. Coder Factory's full time programme for aspiring developers." %>
<%= content_for :description, "Coder Factory's Fast Track is an accelerated and revolutionary 24 week programme that places you in a well paid, exciting career in the tech industry." %>





	<!-- Choose your own adventure -->
<section class="darknight">
<div class="row">
	<div class="col-xs-12 col-lg-offset-2 col-lg-8">
		<h2 class="section-heading">Change Your Life in six months</h2>
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading text-center">
						<h3 class=""><i class="fa fa-question-circle fa-lg"></i> What is the Fast Track?</h3>
					</div>
					<div class="panel-body">
						<p>Coder Factory's <em>Fast Track</em> is an <strong>accelerated and revolutionary 24 week programme</strong> that places you in a well paid, exciting career in the tech industry.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading text-center">
						<h3 class=""><i class="fa fa-question-circle fa-lg"></i> Never coded before?</h3>
					</div>
					<div class="panel-body">
						<p>No problem! Even if you've never coded before, you will have all the skills and experiences companies look for when hiring junior developers.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading text-center">
						<h3 class=""><i class="fa fa-question-circle fa-lg"></i> How does it work?</h3>
					</div>
					<div class="panel-body">
						<p><strong>Weeks 1 - 12:</strong> You'll be coding and using Agile development methodologies from day one in a fun and challenging classroom environment.</p>
						<br>
						<p><strong>Weeks 13 - 24:</strong> Work on real projects for potential employers, learn how to ace an interview and meet amazing mentors who will guide you into your exciting career.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading text-center">
						<h3 class=""><i class="fa fa-question-circle fa-lg"></i> Is the Fast Track for you?</h3>
					</div>
					<div class="panel-body">
						<p>If you want to work with technology that makes a difference in the world, have opportunities to travel and you want it fast, then the Fast Track could be for you.</p>
						<p>The programme is ideal for high school leavers, university students (current and completed) and people looking to level up their careers - no matter what their age.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>			

							
<section class="calm">				
<div class="row">
	<div class="col-xs-12 col-lg-offset-2 col-lg-8">
		<h2 class="section-heading">Expect The Best</h2>
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading text-center">
				    <h3><i class="fa fa-lg fa-trophy"></i> Premium Quality</h3>
				  </div>
				  <div class="panel-body blue-font">
				    <p class="panel-text">Australia's first, premium coding school. With a high-tech campus in the centre of Sydney, top rate hiring partners and a vibrant community, Coder Factory's Fast Track programme is the college of the future.</p>
				  </div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading text-center">
				    <h3><i class="fa fa-lg fa-graduation-cap"></i> World Class Teachers</h3>
				  </div>
				  <div class="panel-body blue-font">
				    <p class="panel-text">Visionary and respected teachers will guide your learning using our innovative Sprint Based Learning<sup>TM</sup> methodology. Their real world experience and contacts will ensure you're hired on graduation.</p>
				  </div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading text-center">
				    <h3><i class="fa fa-lg fa-plus"></i> Extra Experience</h3>
				  </div>
				  <div class="panel-body blue-font">
				    <p class="panel-text">12 weeks of classes, another 12 weeks of real project work - 24 weeks of life-changing knowledge, skills, experience and connections.</p>
				  </div>
				</div>
			</div>
		
		
			<div class="col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading text-center">
				    <h3><i class="fa fa-lg fa-certificate"></i> Women in Tech</h3>
				  </div>
				  <div class="panel-body blue-font">

						<p class="panel-text">Coder Factory is offering a woman a full scholarship to the Fast Track course. Please apply to find out more.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>				
				
					


 <!-- Section: Hiring Partners  -->
 <section class="hiring">
<div class="row">
	<div class="col-xs-12 text-center col-lg-offset-2 col-lg-8">
		<h2 class="section-heading dark">Hiring Partners</h2>
		<p class="lead">Just some of the companies lining up to hire Fast Track graduates:</p>
		<div class="panel panel-default">
			<div class="panel-body blue-font partner-logo-box">
				
				<div class="row">
					<div class="col-xs-4">
						<img class="img-responsive parnter-logo" src="<%=asset_path('lonelyplanet.png')%>" />
					</div>
					<div class="col-xs-4">
						<img class="img-responsive parnter-logo" src="<%=asset_path('sitepoint.png')%>" />
					</div>
			    <div class="col-xs-4">
			    	<img class="img-responsive parnter-logo" src="<%=asset_path('codehire.png')%>" />
			    </div>
		    </div>
		    <div class="row">
		    	<br><br>
		    </div>
		    <div class="row">
			    	<div class="col-xs-4"><img class="img-responsive parnter-logo" src="<%=asset_path('locomote.jpg')%>" /></div>
			    	<div class="col-xs-4"><img class="img-responsive parnter-logo" src="<%=asset_path('getvero.png')%>" /></div>
			    	<div class="col-xs-4"><img class="img-responsive parnter-logo" src="<%=asset_path('learnable.jpg')%>" /></div>
		    </div>
		    <div class="row">
		    	<br><br>
		    </div>
		    <div class="row">
			    	<div class="col-xs-4"><img class="img-responsive parnter-logo" src="<%=asset_path('flippa.jpg')%>" /></div>
			    	<div class="col-xs-4"><img class="img-responsive parnter-logo" src="<%=asset_path('Zoak.png')%>" /></div>
			    	<div class="col-xs-4"><img class="img-responsive parnter-logo" src="<%=asset_path('dreamscape.png')%>" /></div>
		    </div>

			</div>
		</div>
		<div class="section-buttons">
		<br>
		<p>Looking for developers? 

		<a href="#" data-toggle="modal" data-target="#partner">Become a hiring partner.</a>
		</p>
	</div>
</div></div>
</section>
<div class="modal fade" id="partner" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h3 class="modal-title" id="registerLabel"><i class="fa fa-info-circle"></i> Become a hiring partner</h3>
				<br>
			</div>
			<div class="modal-body blue-font">
				<p>Please complete some details so we can get in touch with you.</p>
				<hr>
				<%= simple_form_for Partner.new do |f| %>
				<%= invisible_captcha %>
				<div class="form-group">
					<%= f.input :name, input_html: { class: 'form-control' } %>
				</div>
				<div class="form-group">
					<%= f.input :company, input_html: { class: 'form-control' } %>
				</div>
				<div class="form-group">
					<%= f.input :email, input_html: { class: 'form-control' } %>
				</div>
				<div class="form-group">
					<%= f.input :phone, input_html: { class: 'form-control' } %>
				</div>
				<div class="form-group">
					<%= f.input :message, input_html: { class: 'form-control' } %>
				</div>
			</div>
			<p><input class="btn-block btn-block-calm btn-small" name="commit" type="submit" value="Request Partnership"/></p>
			<% end %>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				
			</div>
		</div>
	</div>
</div>


<!-- Section: What You Get -->
<section class="dirty-gold">
		<div class="row">
			<div class="col-xs-12 col-lg-offset-2 col-lg-8">
				<h2 class="section-heading">What You Get</h2>
			<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-default">
				<div class="panel-heading text-center">
					<h3><i class="fa fa-star fa-lg"></i>  Impressive Portfolio</h3>
				</div>
				<div class="panel-body blue-font">
				  <p class="panel-text">Build a portfolio of top rate applications that demonstrates your ability to write quality code and shows off your skills, knowledge and experience to any future employer. </p>
				</div></div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
				<div class="panel-heading text-center">
					<h3><i class="fa fa-lg fa-laptop"></i> Real Experience</h3>
				</div>
				<div class="panel-body blue-font">
				    <p class="panel-text">Practical experience using the tools of a professional developer from day one. Working as part of a team and managing projects.</p>
				</div></div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-default">
				<div class="panel-heading text-center">
					<h3><i class="fa fa-lg fa-sliders"></i> Full Stack Skills</h3>
				</div>
				<div class="panel-body blue-font">
				    <p class="panel-text">You'll be a coder with skills in UX, database design, application architecture and sysops so you can be confident no matter what developer role you take on.</p>
				</div></div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
				<div class="panel-heading text-center">
					<h3><i class="fa fa-lg fa-plug"></i> Upgraded Network</h3>
				</div>
				<div class="panel-body blue-font">
				    <p class="panel-text">Upgrade your network with connections in the local startup community and tech industry. The right people will know your name.</p>
				</div></div>
			</div>
		</div>
</section>


<!-- Section: Programme -->
<section class="section" id="programme">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-lg-offset-1 col-lg-10">
				<h2 class="section-heading dark">The Programme</h2>
				<div class="row">
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading text-center">
								<h3><i class="fa fa-calendar-o fa-lg"></i> Programme Structure</h3>
							</div>
							<div class="panel-body blue-font content">
							  <strong>Days & Times</strong>
							  <ul>
							  	<li>Monday - Friday</li>
							  	<li>10am - 6pm</li>
							  </ul>
							  <hr>
							  <strong>Weeks 1 - 12:</strong>
							  <ul>
							    <li>7th April -  26th June 2015</li>
							  	<li>Intensive classroom learning (480 hours). </li>
							  </ul>
							  <hr>
							  <strong>Weeks 13 - 24:</strong>
							  <ul>
							    <li>29th June - 21st September 2015</li>
							  	<li>Gain experience working on real projects for potential employers</li>
							  </ul>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-heading text-center">
								<h3><i class="fa fa-lg fa-graduation-cap"></i> Tuition</h3>
							</div>
							<div class="panel-body blue-font content">
							    
							    <strong>12 week programme</strong> 
							    <ul>
							    	<li>AUD 14200</li>
							    	<li><a href="#" class="btn btn-material-lightblue btn-flat btn-xs" data-toggle="modal" data-target="#twelve">What's included?</a></li>
							    </ul>
							    <hr>
							    <strong>Full 24 week programme </strong>
							    <ul>
							    	<li>AUD 21900</li>
							    	<li><a href="#" class="btn btn-material-lightblue btn-flat btn-xs" data-toggle="modal" data-target="#included">What's included?</a></li>
							    </ul>	
							    <hr>
							    <ul>
							    <li>Full scholarships available to women - through a selective process. [<a href="/women-in-tech" target="_blank">Women in tech</a>]</li>
							    <li>Indigenous Australians are encouraged to apply</li>
							    <li>Discount for upfront payment</li>
							    <li>Payment plans available
							    [3 month, 6 month, 12 month]</li>
							   </ul>

							    
							</div>
						</div>
					</div>
				</div>
				<h2 class="section-heading dark">What you'll learn</h2>
				<div class="row">
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-body blue-font">
						    <h4>
						    	<span class="fa-stack fa-lg">
						    	  <i class="fa fa-circle fa-stack-2x"></i>
						    	  <i class="fa fa-fighter-jet fa-stack-1x fa-inverse"></i>
						    	</span> Agile Methodology</h4>
					      <p>Sprint Based Learning<sup>TM</sup> means you're an expert by graduation.</p>
						  </div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-body blue-font">
						    <h4>
						    	<span class="fa-stack fa-lg">
						    	  <i class="fa fa-circle fa-stack-2x"></i>
						    	  <i class="fa fa-list-alt fa-stack-1x fa-inverse"></i>
						    	</span> JavaScript Frameworks</h4>
					      <p>Learn the hottest JavaScript frameworks - AngularJS + NodeJS.</p>
						  </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-body blue-font">
						    <h4>
						    	<span class="fa-stack fa-lg">
						    	  <i class="fa fa-circle fa-stack-2x"></i>
						    	  <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
						    	</span> Team Work</h4>
					      <p>Your team competes for code quality glory every day.</p>
						  </div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-body blue-font">
						    <h4>
						    	<span class="fa-stack fa-lg">
						    	  <i class="fa fa-circle fa-stack-2x"></i>
						    	  <i class="fa fa-code fa-stack-1x fa-inverse"></i>
						    	</span> Web Programming</h4>
					      <p>Ruby on Rails mastery is your ticket to developer fame and fortune.</p>
						  </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-body blue-font">
						    <h4>
						    	<span class="fa-stack fa-lg">
						    	  <i class="fa fa-circle fa-stack-2x"></i>
						    	  <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
						    	</span> Projects</h4>
					      <p>Complete a project every two weeks for a top rate portfolio.</p>
						  </div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-body blue-font">
						    <h4>
						    	<span class="fa-stack fa-lg">
						    	  <i class="fa fa-circle fa-stack-2x"></i>
						    	  <i class="fa fa-tablet fa-stack-1x fa-inverse"></i>
						    	</span> UX and Design</h4>
					      <p>Front end programming while keeping the user in mind.</p>
						  </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-body blue-font">
						    <h4>
						    	<span class="fa-stack fa-lg">
						    	  <i class="fa fa-circle fa-stack-2x"></i>
						    	  <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
						    	</span> Application Architecture</h4>
					      <p>Understand how all the pieces of an application fit together.</p>
						  </div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="panel panel-default">
							<div class="panel-body blue-font">
						    <h4>
						    	<span class="fa-stack fa-lg">
						    	  <i class="fa fa-circle fa-stack-2x"></i>
						    	  <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
						    	</span> SysOps</h4>
					      <p>Managing cloud based application infrastructure and resources.</p>
						  </div>
						</div>
					</div>
				</div>
				
				<br>
				
				<div class="section-buttons">
					<a href="#" class="btn-block btn-block-darknight" data-toggle="modal" data-target="#register">Download Info Pack</a>  <a href="/fast-track-application" class="btn-block btn-block-dirtygold">Apply Now</a>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="modal fade" id="twelve" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h3 class="modal-title" id="registerLabel"><i class="fa fa-info-circle"></i> What's included - 12 week programme</h3>
				<br>
			</div>
			<div class="modal-body blue-font">

				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2">
								<span class="fa-stack fa-2x">
					  			<i class="fa fa-circle fa-stack-2x"></i>
			  					<strong class="fa-stack-1x  fa-inverse">01</strong>
								</span>
							</div>
							<div class="col-md-10">
								<p><strong>Apple MacBook Air 13"</strong><br>
								The ultimate developer machine</p>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2">
								<span class="fa-stack fa-2x">
					  			<i class="fa fa-circle fa-stack-2x"></i>
			  					<strong class="fa-stack-1x  fa-inverse">02</strong>
								</span>
							</div>
							<div class="col-md-10">
								<p><strong>Amazing, industry experienced teachers.</strong><br>
				Paid well to leave their current gigs and share their knowledge with you</p>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2">
								<span class="fa-stack fa-2x">
					  			<i class="fa fa-circle fa-stack-2x"></i>
			  					<strong class="fa-stack-1x  fa-inverse">03</strong>
								</span>
							</div>
							<div class="col-md-10">
								<p><strong>High tech learning environment</strong><br>
				A campus that makes you want to come to class</p>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2">
								<span class="fa-stack fa-2x">
					  			<i class="fa fa-circle fa-stack-2x"></i>
			  					<strong class="fa-stack-1x  fa-inverse">04</strong>
								</span>
							</div>
							<div class="col-md-10">
								<p><strong>Perks galore</strong><br>
				Weekly team lunches, Friday drinks</p>
							</div>
						</div>
					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2">
								<span class="fa-stack fa-2x">
					  			<i class="fa fa-circle fa-stack-2x"></i>
			  					<strong class="fa-stack-1x  fa-inverse">05</strong>
								</span>
							</div>
							<div class="col-md-10">
								<p><strong>Industry events and excursions</strong><br>
				Visit tech startup offices and mingle with the startup crowd</p>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="included" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h3 class="modal-title" id="registerLabel"><i class="fa fa-info-circle"></i> What's included - 24 week programme</h3>
				<br>
			</div>
			<div class="modal-body blue-font">

			<p><span class="bold">Same as 12 week programme, plus:</span></p>

			<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2">
								<span class="fa-stack fa-2x">
					  			<i class="fa fa-circle fa-stack-2x"></i>
			  					<strong class="fa-stack-1x  fa-inverse">06</strong>
								</span>
							</div>
							<div class="col-md-10">
								<p><strong>Full recruitment support</strong><br>
			We make it our mission to secure your dream position</p>
							</div>
						</div>
					</div>
				</div>

			<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2">
								<span class="fa-stack fa-2x">
					  			<i class="fa fa-circle fa-stack-2x"></i>
			  					<strong class="fa-stack-1x  fa-inverse">07</strong>
								</span>
							</div>
							<div class="col-md-10">
								<p><strong>12 weeks of bonus experience and master classes</strong><br>
			Working with potential employers and non-profits with continued guidance and classes from Fast Track teachers.</p>
							</div>
						</div>
					</div>
				</div>

			<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2">
								<span class="fa-stack fa-2x">
					  			<i class="fa fa-circle fa-stack-2x"></i>
			  					<strong class="fa-stack-1x  fa-inverse">08</strong>
								</span>
							</div>
							<div class="col-md-10">
								<p><strong>Interview preparation sessions</strong><br>
			Coding challenges and practise interviews to help you prepare</p>
							</div>
						</div>
					</div>
				</div>

			<!-- <div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2">
								<span class="fa-stack fa-2x">
					  			<i class="fa fa-circle fa-stack-2x"></i>
			  					<strong class="fa-stack-1x  fa-inverse">09</strong>
								</span>
							</div>
							<div class="col-md-10">
								<p><strong>The guarantee</strong><br>
			We guarantee you'll have a well paid developer position within 6 months of course completion - or your money back.</p>
							</div>
						</div>
					</div>
				</div> -->
			</div>
			

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				
			</div>
		</div>
	</div>
</div>
<!-- Section: Opportunities -->
<section class="vibrant">
		<div class="row">
			<div class="col-xs-12 col-lg-offset-2 col-lg-8">
				<h2 class="section-heading">Choose your own adventure</h2>
				<p class="lead text-center" style="color:white;">The world is your oyster when you're a coder.<br>There are amazing opportunities awaiting you when you graduate from the Fast Track programme.</p>
				<br>
				<!-- <hr> -->
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading text-center">
						    <h3>
									<span class="fa-stack">
									    <i class="fa fa-circle-thin fa-stack-2x"></i>
									    <strong class="fa-stack-1x fa-stack-text">1</strong>
									  </span>
									Be hired by a tech startup</h3>
						  </div>
						  <div class="panel-body blue-font">
						    <p class="panel-text">The demand for coders is huge in the tech startup scene. Whether you want to work for an established startup company, or become a tech co-founder, you will be spoiled for choice. Work in Australia in the burgeoning tech sector, or be snapped up by startups in the US, Europe and Asia.</p>
						  </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading text-center">
						    <h3>
									<span class="fa-stack">
									    <i class="fa fa-circle-thin fa-stack-2x"></i>
									    <strong class="fa-stack-1x fa-stack-text">2</strong>
									  </span>
									Be a digital nomad</h3>
						  </div>
						  <div class="panel-body blue-font">

								<p class="panel-text">Travel the world, freelancing here, contracting there. Join thousands of other coders finding great places to live by the beach in exciting destinations all while coding for someone on the other side of the world. Your location doesn't matter anymore.<br>Work from anywhere. Live the dream.</p>
							</div>
						</div>
					</div>
				</div>
				

				
				<div class="row">
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading text-center">
						    <h3>
									<span class="fa-stack">
									    <i class="fa fa-circle-thin fa-stack-2x"></i>
									    <strong class="fa-stack-1x fa-stack-text">3</strong>
									  </span>
									Build your own startup</h3>
						  </div>
						  <div class="panel-body blue-font">
						    <p class="panel-text">You will have the skills, knowledge and network to create your own tech startup. Graduates of Coder Factory are out there launching their startups now.</p>
						  </div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading text-center">
						    <h3>
									<span class="fa-stack">
									    <i class="fa fa-circle-thin fa-stack-2x"></i>
									    <strong class="fa-stack-1x fa-stack-text">4</strong>
									  </span>
									Teach others how to code</h3>
						  </div>
						  <div class="panel-body blue-font">

								<p class="panel-text">As coding starts to go mainstream, the demand for passionate and knowledgeable teachers is growing. It's a very rewarding career choice, take it from us :)</p>
							</div>
						</div>
					</div>
				</div>
				<div class="section-buttons">
					<a href="#" class="btn-block btn-block-darknight" data-toggle="modal" data-target="#register">Download Info Pack</a>  <a href="/fast-track-application" class="btn-block btn-block-dirtygold">Apply Now</a>
				</div>
				
			</div>
		</div>
</section>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52ee398713b80ae1" async="async"></script>
