<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.association :author %>
    <%= f.input :lead %>
    <%= f.input :content, input_html: { class: 'ckeditor', rows: 10 } %>
    <%= f.input :image %>
    <%= f.input :slug %>
    <%= f.input :publish %>
    <%= f.input :published_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-block btn-block-dirtygold' %>
  </div>
<% end %>
<script>
   $('.ckeditor').ckeditor({
      // optional config
   });
</script>