<div class="ct-mediaSection ct-u-bgBlack ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="300" data-type="parallax" data-bg-image="" data-bg-image-mobile="">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <h1 class="ct-breadcrumbHeader text-uppercase pull-left">Article</h1>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>
<section class="calm">        
  <div class="row">
    <div class="col-xs-12 col-lg-offset-2 col-lg-8">
      <h2 class="section-heading">All Posts</h2>
      <div class="panel panel-default"><div class="panel-body">
<%= link_to 'New Post', new_post_path, class: 'btn btn-success' %>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Publish</th>
      <th>Published</th>
      <th>Views</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post %></td>
        <td><%= post.author.name if post.author %></td>
        <td><%= '<i class="fa fa-check"></i>'.html_safe if post.publish %></td>
        <td><%= post.published_date.strftime('%d/%b/%y') %></td>
        <td><span class="label label-info"><%= post.impressions_count %></span></td>
        <td><%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_post_path(post) %></td>
        <td><%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div></div></div></div></section>
<br>
<h2>Import posts</h2>
<%= form_tag import_posts_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import Posts" %>
  <% end %>

