 <%= content_for :title, @post.title + ' [@CoderFactory Blog]' %>
<%= content_for :description, @post.title + ': ' + @post.lead %>
<%= content_for :image, @post.image %>
<%= content_for :tagline, @post.published_date.strftime('%d %B %Y') %>
<% active_nav_item :blog %>
<%= content_for :header, 'small-header' %>



<div class="container blog-post">
  <div class="row">
    <div class="col-md-7 col-md-offset-1">
      <div itemscope itemtype="http://schema.org/Article" class="post">
        <div class="post-img">
          <h2><a href="<%= post_url %>"><span itemprop="name"><%= @post.title %></span></a></h2>
          <hr>
          <div class="post_info clearfix">
            <% if @author %>
            
              <span class="author vcard">
                <a rel="author" href="/authors/<%= @author.slug %>">
                  <%= image_tag @author.profile_picture, class: 'img-thumbnail', alt: @author.name, width: '50px' %> 
                  <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <%= @author.name %>
                  </span>
                </a>
              </span>
            <% end %>
            &nbsp; 
            <small>Published: <i class="fa fa-calendar"></i> 
            <abbr class="published" itemprop="datePublished" content="<%= @post.published_date.strftime('%Y-%m-%d') %>" title="Published on <%= @post.published_date.strftime('%A, %e %B %Y, %l:%M%P') %>"><%= @post.published_date.strftime('%A, %e %B %Y') %></abbr></small>
          </div>
          <hr>
          <img itemprop="image" src="<%= asset_path @post.image %>" alt="<%= @post.title %>" class="img-responsive img-thumbnail">
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_sharing_toolbox"></div>
            <hr>
          </div>
      
          <p class="lead">
            <%= @post.lead.html_safe %>
          </p>
          <hr>
          <div id="content">
            <%= @post.content.html_safe %>
          </div>
          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div class="addthis_sharing_toolbox"></div>
      
            <hr>
          </div>
        </div>
        <div class="col-md-3 promo-boxes">
        <br>
          <%= render 'layouts/sideboxes' %>
        </div>
      </div>
    </div>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52ee398713b80ae1" async="async"></script>

