<div class="ct-mediaSection ct-u-bgBlack ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="400" data-type="parallax" data-bg-image="<%= asset_path 'defaulthead.jpg' %>" data-bg-image-mobile="<%= asset_path 'slider4.jpg' %>">
    <div class="ct-mediaSection-inner">
        <div class="container">
            <h3 class="ct-breadcrumbHeader text-uppercase pull-left">Blog</h3>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>

    <div class="ct-u-bgLightGrey">
           <div class="container">
               <div class="row">

                <div class="col-md-9 ct-colContent ct-u-paddingBoth60">

                <div class="row">
	                <% @posts.each do |post| %>
	                  <div class="col-sm-12">
	                     <div class="ct-blog ct-blog--imageTop ct-blog--text">
	                       <div class="ct-blog-content">
	                         <div class="entry-meta clearfix">
	                             <span class="cat-links pull-left"><i class="fa fa-<%= post.post_category.icon if post.post_category %>"></i><a href="<%= blog_filter_path(post_category: post.post_category) %>"><%= post.post_category.name if post.post_category %></a></span>
	                             <span class="entry-date pull-right"><%= post.published_date.strftime('%e %B, %Y') %></span>
	                         </div>
		                        <a  href="/posts/<%= post.slug %>" class="ct-blog-imageContainer">
		                          <img src="<%= asset_path post.image %>" alt="Image for <%= post.title %>" />
		                        </a>
	                         <div class="ct-blog-text">
	                               <h2 class="text-uppercase"><%= link_to post.title, post %></h2>
	                               <p><%= post.lead %></p>
	                           </div>
	                           <div class="entry-meta ct-KindOfPostContainer clearfix">
	                             <a href="18-actly-member-page.html" class="by-author clearfix">
	                               <img src="<%= image_path post.author.profile_picture %>" alt="Image of <%= post.author.name %> " class="pull-left"/>
	                               <span class="by-autor-name"><%= post.author.name %></span>, <span class="by-autor-prof"><%= post.author.title %></span>
	                             </a>
	                             <span class="ct-borderBlock"></span>
	                             <span class="ct-kindOfPost-icon pull-right"><i class="fa fa-pencil"></i></span>
	                           </div>
	                         </div>
	                     </div>
	                   </div><!-- /col-sm-12 -->
	                <% end %>

                  

                  </div><!-- /row -->
                  <div class="digg_pagination">
                    <%= will_paginate @posts %>
                  </div>
                 

                </div><!-- /col-md-9 -->


                <%= render 'layouts/blog_sidebar' %>


    <div class="ct-mediaSection ct-u-bgDarkgrey" data-stellar-background-ratio="0.2" data-height="420" data-type="parallax" data-bg-image="<%= asset_path 'keyboard.jpg' %>" data-bg-image-mobile="<%= asset_path 'keyboard.jpg' %>">
       <div class="ct-mediaSection-inner">
         <div class="container">

           <div class="row">
             <div class="col-sm-6 col-sm-offset-3">
               <div class="ct-newsletter ct-u-bgdark-lightfont text-center">
                 <h2 class="text-uppercase">Newsletter subscribe</h2>
                   <div class="successMessage alert alert-success" style="display: none">
                       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                       Thank You!
                   </div>
                   <div class="errorMessage alert alert-danger" style="display: none">
                       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                       Ups! An error occured. Please try again later.
                   </div>
                   <form role="form" class="ct-form--newsletter validateIt" action="assets/form/send.php" method="post" data-email-subject="Newsletter Form" data-show-errors="true" data-hide-form="true">

                   <div class="form-group animated" data-fx="fadeInUp" data-time="0">
                    <input type="email" class="form-control" id="exampleInputEmail1"   name="field[]" required placeholder="Your Email Address">
                  </div>
                  <button type="submit" class="btn btn-primary   animated" data-fx="fadeInUp" data-time="400">Subscribe</button>
                </form>

               </div>
             </div>
           </div><!-- /row -->
         </div><!-- /container -->
       </div><!-- /ct-mediaSection-inner -->
     </div>