<%= content_for :title, 'Contact Coder Factory' %>
<%= content_for :description, "Get in touch anyway you can. We're friendly and want to help!" %>
<div class="ct-mediaSection ct-u-bgBlack ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="400" data-type="parallax" data-bg-image="<%= asset_path 'cube.jpg' %>" data-bg-image-mobile="<%= asset_path 'cube.jpg' %>">
        <div class="ct-mediaSection-inner">
            <div class="container">
                <h1 class="ct-breadcrumbHeader text-uppercase pull-left">Contact Coder Factory</h1>
            </div><!-- /container -->
        </div><!-- /ct-mediaSection-inner -->
    </div>

    <div class="ct-u-bgGrey  ct-u-paddingTop70 ct-u-paddingBottom70 ">
        <div class="container">

          <header class="ct-sec-header text-center ct-u-paddingBottom50">
              <h2 class="ct-sec-header-title">Coder Factory</h2>
              <!-- <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                  <p>I drove on, a peculiar change crept over the appearance of things. The palpitating greyness grew darker then though I was still travelling with prodigious velocity the blinking suc cession of day and night.</p>
                </div>
              </div> -->
          </header>

          <div class="row ct-contactContent">
            <div class="col-sm-8">
                <div class="successMessage alert alert-success" style="display: none">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Thank You!
                </div>
                <div class="errorMessage alert alert-danger" style="display: none">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    Ups! An error occured. Please try again later.
                </div>
                <%= simple_form_for(@enquiry, html: {class: "ct-form--white ct-form--bigInput validateIt" }) do |f| %>
                  <%= f.error_notification %>
                  <%= f.invisible_captcha :subtitle %>
              <!-- <form class="ct-form--white ct-form--bigInput validateIt" role="form" method="post" data-email-subject="Contact Form" data-show-errors="true" data-hide-form="true" action="assets/form/send.php"> -->
                  <!-- <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputText"  name="field[]" required placeholder="Your Name">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1"  name="field[]" required placeholder="Your Email">
                  </div>

                <div class="form-group">
                  <textarea class="form-control" rows="6"   name="field[]" placeholder="Your Message"></textarea>
                </div> -->
                <%= f.input :name, label: false, placeholder: 'Your name' %>
                <%= f.input :email, label: false, placeholder: 'Your email' %>
                <%= f.input :content, label: false, placeholder: 'Your message', input_html: { rows: 6 } %>
                <%= f.submit 'Send your message', class: 'btn btn-primary' %>
              <% end %>

            </div>
            <div class="col-sm-4">
                <div class="ct-address">
                  <h4 class="ct-widget-title ct-adress-title">Get in touch</h4>
                   <p class="ct-widget-adress ct-adress-content">Coder Factory HQ<br>7 Hudson Street<br>Redfern NSW 2016<br /><br />
                     Phone: 1300 884 095 <br>
                     Email: <a href="mailto:info@thecoderfactory.com">info@thecoderfactory.com</a>
                   </p>
                </div>
                <ul class="ct-socialIcons ct-socialIcons--fgrey list-inline list-unstyled ct-u-paddingBoth15">
                    <li><a href="https://www.facebook.com/thecoderfactory" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/coderfactory" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/the-coder-factory" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://www.youtube.com/user/CoderFactory/videos" target="_blank"><i class="fa fa-youtube"></i></a></li>
                </ul>

            </div>
          </div>

        </div><!-- /container -->
    </div>


    <div class="ct-mediaSection">
      <div class="ct-mediaSection-inner">
        <div class="googlemapcontainer">
           <div class="ct-googleMap" data-location="Australia" data-height="500" data-offset="0" data-zoom="16">
           	<iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zTVYHJ3P0FkI.kmt6Bb6WpO9I" width="100%" height="480"></iframe>
           </div>
        </div>
      </div><!-- /ct-mediaSection-inner -->
    </div>



    <!-- <div class="ct-u-bgGrey">
        <div class="container">

          <header class="ct-sec-header text-center ct-u-paddingTop70 ct-u-paddingBottom50 ">
              <h2 class="ct-sec-header-title">Get in touch</h2>
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                  <p>Have a question? Send us a note using the form below <br />and someone from the Actly team will be in touch soon.</p>
                </div>
              </div>
          </header>


          <div class="row">
            <div class="col-sm-4 col-md-4">
                <div class="ct-iconBox ct-iconBox--iconBg text-center">
                    <div class="ct-iconBox-icon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="ct-iconBox-content">
                        <h4 class="ct-iconBox-title">
                          Need Support?
                        </h4>
                        <p>
                          Open a support ticket and <br /> get help, fast
                        </p>
                        <div class="text-center">
                            <a href="05-actly-courses-details.html" class="btn btn-primary btn-sm   animated" data-fx="fadeInUp" data-time="0">Open a ticket</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="ct-iconBox ct-iconBox--iconBg text-center">
                    <div class="ct-iconBox-icon">
                      <i class="fa fa-tablet"></i>
                    </div>
                    <div class="ct-iconBox-content">
                        <h4 class="ct-iconBox-title">
                          Sales Inquiries
                        </h4>
                        <p>
                          Have questions about Actly? <br/>Send us an email
                        </p>
                        <div class="text-center">
                            <a href="09-actly-about.html" class="btn btn-primary btn-sm   animated" data-fx="fadeInUp" data-time="200">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="ct-iconBox ct-iconBox--iconBg text-center">
                    <div class="ct-iconBox-icon">
                      <i class="fa fa-laptop"></i>
                    </div>
                    <div class="ct-iconBox-content">
                        <h4 class="ct-iconBox-title">
                          Tweet Us
                        </h4>
                        <p>
                          Have a question?<br />
                          Tweet and follow us.
                        </p>
                      <div class="text-center">
                          <a href="https://twitter.com/createitpl" class="btn btn-primary btn-sm   animated" data-fx="fadeInUp" data-time="400">Tweet Us</a>
                      </div>
                    </div>
                </div>
            </div>
          </div>

        </div>
     </div> -->


    <%= render 'layouts/subscribe' %>
