<p id="notice"><%= notice %></p>
 <%= content_for :header, 'small-header' %>
  <div class="row">
    <div class="col-xs-12 col-lg-offset-2 col-lg-8">
      <h2>Admission for <%= @admission.name %></h2>
      <p id="notice"><%= notice %></p>

<p>
  <strong>Fast track application:</strong>
  <a href="/fast_track_applications/<%= @admission.fast_track_application.id %>">Application</a>
  
</p>

<p>
  <strong>Name:</strong>
  <%= @admission.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admission.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @admission.phone %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @admission.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @admission.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @admission.postcode %>
</p>

<p>
  <strong>State:</strong>
  <%= @admission.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @admission.country %>
</p>

<p>
  <strong>Programme:</strong>
  <%= @admission.programme %>
</p>

<p>
  <strong>Scholarship:</strong>
  <%= @admission.scholarship %>
</p>

<p>
  <strong>Laptop:</strong>
  <%= @admission.laptop %>
</p>

<p>
  <strong>Payment plan:</strong>
  <%= @admission.payment_plan %>
</p>

<p>
  <strong>Accommodation:</strong>
  <%= @admission.accommodation %>
</p>

<p>
  <strong>Agreement:</strong>
  <%= @admission.agreement %>
</p>

<%= link_to 'Edit', edit_admission_path(@admission) %> |
<%= link_to 'Back', admissions_path %>
