<% active_nav_item :catalogue %>
<% @workshops = true %>
<%= content_for :title, "See Coder Factory's " + @product_category.name %>
<%= content_for :description, @product_category.description %>
<%= content_for :header, 'workshops-header' %>

<% unless @product_category.description.blank? %>
  <p class="intro">
    <%= @product_category.description %>
  </p>
<% end %>
<% if @products.empty? %>
  <p class="noProducts">There are no products in this category</p>
<% else %>
  <%= render 'shared/product_list', :products => @products %>
<% end %>
