<%= content_for :title, "Enrol in Coder Factory&apos;s ".html_safe + @product.name %>
<%= content_for :description, @product.short_description.html_safe %>

<div class="ct-mediaSection ct-u-bgWhite ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="450" data-type="parallax" data-bg-image="<%= asset_path 'webdev.jpg' %>" data-bg-image-mobile="<%= asset_path 'slider4.jpg' %>">
  <div class="ct-mediaSection-inner">
    <div class="container">
      <h3 class="ct-breadcrumbHeader text-uppercase pull-left">
        Workshops<br>
        <span style="font-size:25px;color:#1f2b3a;">Learn Fast. Have Fun.</span>
      </h3>
    </div><!-- /container -->
  </div><!-- /ct-mediaSection-inner -->
</div>



<% if @product_category.permalink == 'workshops' %>
<% @workshops = true %>
<div class="ct-u-paddingBoth40">
    <div class="container">

        <div class="ct-tabs ct-tabs--witharrow">
            <ul class="nav nav-tabs nav-justified ct-mytab-js" role="tablist">
                <li class="<%= 'active' if @product.permalink == 'web-design-weekend-workshop' %>"><a href="/courses/workshops/web-design-weekend-workshop">Web Design</a></li>
                <li class="<%= 'active' if @product.permalink == 'wordpress-weekend-workshop' %>"><a href="/courses/workshops/wordpress-weekend-workshop">Wordpress</a></li>
                <li class="<%= 'active' if @product.permalink == 'learn-to-code-weekend-workshop' %>"><a href="/courses/workshops/learn-to-code-weekend-workshop">Learn To Code</a></li>
                <li class="<%= 'active' if @product.permalink == 'learn-to-code-for-highschoolers' %>"><a href="/courses/workshops/learn-to-code-for-highschoolers">Highschool Coders</a></li>
                <li class="<%= 'active' if @product.permalink == 'technology-for-teachers-workshop' %>"><a href="/courses/workshops/technology-for-teachers-workshop">Tech for Teachers</a></li>
            </ul>
        </div>


    </div><!-- /container -->
</div>
<% end %>




<div class="ct-u-bgLightGrey ct-u-paddingBoth60 ct-u-bgGrey">

        <div class="container">

            <div class="ct-singleCourse">

                <div class="ct-singleCourse-intro ct-u-bgWhite">
                    <img alt="Web Design Workshop" src="<%= asset_path @product.product_attributes.find_by(key: 'image').value %>"/>

                    <div class="ct-singleCourse-introLinks clearfix">
                        <div class="entry-meta pull-left">
                            <span class="cat-links ct-u-borderRight slime-text">
                            <i class="fa fa-forward"></i> <%= @product.name %>
                            </span>
                            <span class="entry-date ct-u-borderRight slime-text">
                              <i class="fa fa-calendar"></i>
                              <%= @next_course.start_date.strftime('%d %B') %>
                            </span>
                        </div>
                        <% if @teacher %>
                          <a href="<%= @teacher.link %>" class="by-author pull-left" target="_blank">
                            <img src="<%= @teacher.image %>" alt="author img">
                            <span class="by-autor-name"><%= @teacher.name %></span>, <span class="by-autor-prof"><%= @teacher.title %></span>
                          </a>
                        <% end %>

                        <div class="entry-meta pull-right">
                            <div class="ct-u-displayInlineBlock">
                       <!-- <span class="ct-stars-container">
                           <i class="fa fa-star active"></i>
                           <i class="fa fa-star active"></i>
                           <i class="fa fa-star active"></i>
                           <i class="fa fa-star active"></i>
                           <i class="fa fa-star"></i>
                       </span> -->
                                
                                <a href="#schedule" class="btn btn-slime btn-sm ct-u-displayInlineBlock">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>



        <%= @product.description.html_safe %>




<div class="ct-u-bgLightGrey ct-u-paddingTop40">
  <div class="container">
    <h4 class="text-uppercase ct-fw-700 ct-titleSmaller ct-u-paddingBottom50 ct-u-paddingTop30" id="schedule">Upcoming Workshops</h4>
    <div class="table-responsive">
        <table class="table ct-table--withBorder ct-fw-300">
          <thead class="text-left">
          <tr>
            <th>Workshop</th>
            <th>Location</th>
            <th>Date</th>
            <th>Cost</th>
            <th class="text-right"></th>
          </tr>
        </thead>
        <tbody class="text-left">
          <% @upcoming_courses.each do |course| %>
            <tr>
              <td><%= course.parent.name %></td>
              <td><%= course.location.city if course.location %></td>
              <td><%= course.start_date.strftime('%d %B') %> - <%= course.end_date.strftime('%d %B') %></td>
              <td><%= number_to_currency(course.price * 1.1) %> (incl. GST)</td>
              <td class="pull-right">
                <% if course.in_stock? %>
                  <%= form_tag buy_product_path(@product.product_category.permalink, @product.permalink, :variant => course.id), :class => 'form-inline' do %>
                    <div class="form-group">
                      <div class="input-group">
                        <%= select_tag 'quantity', options_for_select([1,2,3,4,5,6,7,8,9]), :disabled => !course.in_stock?, class: 'form-control' %>
                      </div>
                      <button type="submit" name="commit" class="btn btn-slime btn-sm ct-u-displayInlineBlock"> Add to cart</button>
                    </div>
                  <% end %>
                <% else %>
                  No places left
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="ct-u-paddingBottom30 ct-u-bgGrey">
  <div class="container">
    <h4 class="text-uppercase ct-fw-700 ct-titleSmaller ct-u-paddingBottom50 ct-u-paddingTop30">Related Workshops</h4>
    <div class="row">
      <div class="col-sm-12">
        <div class="ct-js-flexslider ct-relatedCoursesSlider" data-controlnav="false"
                         data-directionnav="true" data-animationloop="true">
          <ul class="slides">
            <% @product_category.products.each_with_index do |workshop, index| %>
              <% if index == 0 or index == 3 %>
                <li>
                  <div class="row ct-u-paddingTop20 workshop">
              <% end %>
              <div class="col-sm-4">
                <article class="ct-coursesList ct-u-bgWhite">
                  <div class="ct-courseList-image">
                    <a href="/courses/workshops/<%= workshop.permalink %>">
                      <img src="<%= asset_path workshop.product_attributes.find_by(key: 'card_image').value %>" alt="<%= workshop.name %>">
                    </a>
                    </div>
                    <div class="entry-meta">
                      <span class="cat-links pull-left">
                        <i class="fa fa-calendar"></i> <%= workshop.name %>
                      </span>
                      <br>
                    </div>
                    <div class="ct-coursesList-cont">
                      <h3><%= workshop.short_description.html_safe %> </h3>
                    </div>
                    <div class="entry-meta clearfix ct-u-borderTop">
                      <%= workshop.product_attributes.find_by(key: 'num_days').value if workshop.product_attributes.find_by(key: 'num_days') %>
                      <a href="/courses/workshops/<%= workshop.permalink %>" class="btn btn-success btn-sm pull-right">
                        Learn More
                      </a>
                    </div>
                  </article>
                </div>
                <% if index == 2 %>
                  </div><!-- /row -->
                </li>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div><!-- /flexslider -->
    </div>
  </div><!-- /row -->
</div><!-- /container -->
</div>