<%= content_for :title, 'See where Coder Factory is located' %>
<%= content_for :description, "Coder Factory has locations across Australia, including Sydney, Melbourne, Brisbane, Perth and Adelaide." %>
<div class="ct-mediaSection ct-u-bgBlack ct-u-bgdark-lightfont overflowHidden" data-stellar-background-ratio="0.2" data-height="400" data-type="parallax" data-bg-image="<%= asset_path 'planet.jpg' %>" data-bg-image-mobile="<%= asset_path 'planet.jpg' %>">
  	<div class="ct-mediaSection-inner">
        <div class="container">
            <h1 class="ct-breadcrumbHeader text-uppercase pull-left">Coder Factory Locations</h1>
        </div><!-- /container -->
    </div><!-- /ct-mediaSection-inner -->
</div>

<div class="ct-u-bgGrey  ct-u-paddingTop70 ct-u-paddingBottom70 ">
  <div class="container">

    <div class="ct-u-paddingBoth40">
    <div class="container">

        <div class="ct-tabs ct-tabs--witharrow">
            <ul class="nav nav-tabs nav-justified ct-mytab-js" role="tablist">
                <li class="<%= 'active' if @product.permalink == 'web-design-weekend-workshop' %>"><a href="/courses/workshops/web-design-weekend-workshop">Web Design</a></li>
                <li class="<%= 'active' if @product.permalink == 'wordpress-weekend-workshop' %>"><a href="/courses/workshops/wordpress-weekend-workshop">Wordpress</a></li>
                <li class="<%= 'active' if @product.permalink == 'learn-to-code-weekend-workshop' %>"><a href="/courses/workshops/learn-to-code-weekend-workshop">Learn To Code</a></li>
                <li class="<%= 'active' if @product.permalink == 'learn-to-code-for-highschoolers' %>"><a href="/courses/workshops/learn-to-code-for-highschoolers">Highschool Coders</a></li>
                <li class="<%= 'active' if @product.permalink == 'technology-for-teachers-workshop' %>"><a href="/courses/workshops/technology-for-teachers-workshop">Tech for Teachers</a></li>
            </ul>
        </div>


    </div><!-- /container -->
</div>



		


  </div>
</div>
