<!-- MOBILE NAV -->
<div class="navbar-header ct-navbarMobile ct-u-bgBlack">
    <a class="navbar-brand" href="/"><img src="<%= asset_path 'CoderFactoryLogoForWeb.png' %>" alt="Coder Factory"> </a>
    <button type="button" class="navbar-toggle">
        <span class="sr-only">Navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>


<div class="collapse navbar-collapse ct-menuMobile ct-u-bgBlack" >
    <ul class="nav navbar-nav ct-menuMobile-navbar pull-right">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/courses/workshops/web-design-weekend-workshop">Workshops</a>
        </li>
        <li>
            <a href="/courses/part-time-courses/web-app-developer-pt">Part Time</a>
        </li>
        <li>
            <a href="/fast-track">Full Time</a>
        </li>
        <li>
            <a href="/blog">Blog</a>
        </li>
        <li>
            <a href="/contact">Contact Us</a>
        </li>
    </ul>
</div><!-- /.navbar-collapse -->

<div id="ct-js-wrapper" class="ct-pageWrapper">

<!-- MAIN NAV -->
<nav class="ct-navbar--transparent navbar ct-navbar navbar-fixed-top ct-js-headroom animatedHeadroom headroom--top" role="navigation" data-offset="1500" data-startposition="0">
    <div class="inner-nav">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="<%= asset_path 'CoderFactoryLogoForWeb.png' %>" alt="Coder Factory Logo"></a>
            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav pull-right">
                      <li class="<%= 'active' if current_page?(root_path) %>"><a href="/">Home</a></li>
                      <li class="dropdown <%= 'active' if @workshops %>"><a href="#">Workshops <span class='caret'></span></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="/courses/workshops/web-design-weekend-workshop">Web Design</a></li>
                          <li><a href="/courses/workshops/wordpress-weekend-workshop">Wordpress</a></li>
                          <li><a href="/courses/workshops/learn-to-code-weekend-workshop">Learn to Code</a></li>
                          <li><a href="/courses/workshops/learn-to-code-for-highschoolers">Highschool Coders</a></li>
                          <li><a href="/courses/workshops/technology-for-teachers-workshop">Tech for Teachers</a></li>
                        </ul>
                      </li>
                      <li class="<%= 'active' if current_page?('/courses/part-time-courses/web-app-developer-pt') %>"><a href="/courses/part-time-courses/web-app-developer-pt">Part Time</a></li>
                      <li class="<%= 'active' if current_page?(fast_track_path) %>"><a href="/fast-track">Fast Track</a></li>
                      <!-- <li class="onepage"><a href="/community">Community</a></li> -->
                      <li class="<%= 'active' if current_page?(blog_path) %>"><a href="/blog">Blog</a></li>
                      <li class="<%= 'active' if current_page?(contact_path) %>"><a href="/contact">Contact</a></li>
                      <% if has_order? %>
                        <li class="cart">
                          <a href="/checkout">
                            <i class="fa fa-shopping-cart"></i>
                          </a>
                        </li>
                      <% end %>
                  </ul>

              </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </div>
</nav>
