<!DOCTYPE html>
<html ng-app="CoderFactory">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Learn to Code @ Coder Factory." %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "See our new improved programmes that help you become a confident coder. Apply for our full time Fast track programme, part time courses and weekend workshops." %>">
    <%= render 'layouts/metatags' %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-animate.min.js"></script>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <script src="//use.typekit.net/dsk1ewq.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43181031-3', 'auto');
      ga('send', 'pageview');

    </script>
    <%= render 'layouts/icons' %>
  </head>
  <body>
    <div class="top-bar">
      <div class="main-row">
        <ul>
          <li>
            <%# link_to "Play with Shoppe Admin", "/shoppe" %>
          </li>
          <li>
            <%# link_to "Browse the code", "http://github.com/tryshoppe/core" %>
          </li>
        </ul>
        <p class="text">Fast Track course is filling up quick. Apply now here!</p>
      </div>
    </div>
    <%= display_flash %>
    <!-- The main header displayed on all pages
    -->
    <!-- Sometimes will be shorted as the page content dictates.
    -->
    <header class="main-header <%= content_for?(:header) ? yield(:header) : "home-header" %>">

      <div class="main-row">
        <!-- Primary navigation -->
        <nav class="main-nav">
          <ul class="main-nav-list">
            <li class="main-nav-item">
              <%= link_to "Home", root_path, :nav_item => :home %>
            </li>

            <li class="main-nav-item">
              <%= link_to "Our Courses", catalogue_path, :nav_item => :catalogue, :class => 'noborder' %>
            </li>

            <li class="main-nav-item">
              <%= link_to "Community", community_path, :nav_item => :community %>
            </li>

            <li class="main-nav-item">
              <%= link_to "Women in Tech", women_in_tech_path, :nav_item => :women_in_tech %>
            </li>

            <li class="main-nav-item">
              <%= link_to "Blog", blog_path, :nav_item => :blog, class: 'test' %>
            </li>
          </ul>

          <a class="logo" href="/">
            <img src="<%= asset_path 'cf-logo.svg' %>" />
            <h1 class="logo-title">coderfactory</h1>
          </a>
        </nav>


        <nav class="mob-nav" ng-controller="NavCtrl as nav">
          <ul class="mob-nav-list bounce-in-right" ng-if="nav.showMenu">
            <li class="mob-nav-item">
              <%= link_to "Home", root_path, :nav_item => :home %>
            </li>

            <li class="mob-nav-item">
              <%= link_to "Our Courses", catalogue_path, :nav_item => :catalogue, :class => 'noborder' %>
            </li>

            <li class="mob-nav-item">
              <%= link_to "Community", community_path, :nav_item => :community %>
            </li>

            <li class="mob-nav-item">
              <%= link_to "Women in Tech", women_in_tech_path, :nav_item => :women_in_tech %>
            </li>

            <li class="mob-nav-item">
              <%= link_to "Blog", blog_path, :nav_item => :blog, class: 'test' %>
            </li>
          </ul>
          <button ng-click="nav.toggleMenu()" class="btn-block btn-block-darknight">{{ nav.menu }}</button>
        </nav>


        <% if @full_header %>
        <div class="call-to-action-wrapper">
          <h2 class="call-to-action-headline">Technology is your future</h2>
          <p class="lead call-to-action-info">Your career and business opportunities are massively increased when you know more about technology. Start your journey today!</p>
        </div>
        <% end %>

        <% if @course_header %>
        <div class="course-select-wrapper">
          <h1 class="course-select-headline">I am a
            <label for="ability" class="custom-select-arrow">
              <select id="ability" class="input-select-feature">
                <option selected>beginner</option>
                <option>intermediate</option>
                <option>advanced</option>
              </select>
            </label><br>
            who wants to learn<br>
            <span class="custom-select-arrow">
              <select class="input-select-feature">
                <option>ruby on rails</option>
                <option selected>web design</option>
                <option>wordpress</option>
              </select>
            </span><br>
          </h1>
        </div>
        <% end %>
        <% if @fast_track_header %>
          <div class="call-to-action-wrapper">
          <h1 class="call-to-action-headline">Fast Track</h1>
        <p class="lead call-to-action-info">Your boarding pass to the exciting world of high tech.</p>
        <br>
        <a href="#" class="btn-block btn-block-darknight" data-toggle="modal" data-target="#register">Download Info Pack</a>  <a href="/fast-track-application" class="btn-block btn-block-dirtygold">Apply Now</a>
        <% end %>
        <% if @ft_appliction %>
          <div class="call-to-action-wrapper">
          <h1 class="call-to-action-headline"><%= params[:scholarship] ? "Scholarship Application" : "Fast Track Application" %></h1>
          </div>
        <% end %>
        <% if @community %>
          <div class="call-to-action-wrapper">
          <h1 class="call-to-action-headline">We <span class="pink"><i class="fa fa-heart"></i></span> community</h1>
        <p class="lead call-to-action-info">Be a part of a vibrant and welcoming<br> community of coders and technology fans.</p></div>
        <% end %>
        <% if @workshops %>
          <div class="call-to-action-wrapper">
          <h1 class="call-to-action-headline"><%= @product_category.name %></h1>
        <p class="lead call-to-action-info">Anyone can do it! And it's fun.</p></div>
        <% end %>
        <% if @product %>
          <div class="call-to-action-wrapper">
            <h1 class="call-to-action-headline"><%= @product.name %></h1>
            <p class="lead call-to-action-info"><%= @product.short_description.html_safe %></p></div>

        <% end %>
        <% if @thanks %>
          <div class="call-to-action-wrapper">
            <h1 class="call-to-action-headline">Thanks!</h1>
            <p class="lead call-to-action-info">Your journey into the future has begun.</p>
            <p><a href="/community">Join our community</a></p>
          </div>
        <% end %>
        <% if @women_in_tech %>
        <div class="row"><div class="col-lg-6 col-lg-offset-6">
          <div class="call-to-action-wrapper right-wrapper">
            <h1 class="call-to-action-headline">Women in tech!</h1>
            <br><br><br><br><br>
            <p class="lead call-to-action-info">Julia Claven, Coder Factory</p>
          </div>
          </div></div>
        <% end %>
      </div>
      <!-- <div class="bar">
          <div class="inner">
            <p class="call">Call us today on <b>01202 901 101</b> if you have any questions.</p>
            <p class="offer"><b>This week only!</b> FREE next day shipping on all orders over &pound;30.</p>
          </div>
        </div> -->

    </header>




    <section class="content">

        <!-- Sidebar Module -->
        <section class="sidebar">
          <% if content_for?(:sidebar) %>
            <%= yield :sidebar %>
          <% else %>
            <% if has_order? %>
              <%= render 'shared/basket' %>
            <% end %>
          <% end %>
        </section>
        <!-- Primary section
        -->
        <section class="primary">
          <%= yield %>
        </section>
    </section>

    <% unless @hide_newsletter_registration %>
    <section class="register-newsletter">
      <div class="register-newsletter-wrapper">
        <p class="register-newsletter-tagline">So much is happening at CoderFactory...</p>
        <form action="//coderfactory.us7.list-manage.com/subscribe/post?u=1c644187b6d7e06d32bcae158&amp;id=2afdc8b0c3" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="input-text" placeholder="Enter Email Address" />
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_1c644187b6d7e06d32bcae158_2afdc8b0c3" tabindex="-1" value=""></div>
            <br>
        <input type="submit" class="btn-block btn-block-dirtygold" value="Receive Updates!" name="subscribe" id="mc-embedded-subscribe" >
        </form>
      </div>
    </section>
    <% end %>


    <footer class="main-footer">
      <div class="main-footer-wrapper">
        <!-- Useful footer links (policies etc...)
        -->
        <ul class="main-footer-list">
          <li class="main-footer-item">
            <a href="#" data-toggle="modal" data-target="#contact-modal" class="first-item">
            Contact Coder Factory</a>
          </li>
          <li class="main-footer-item">
            <%= link_to "Privacy policy", privacy_path %>
          </li>
        </ul>
        <div class="footer-mission-statement">
          <div class="logo">
            <img src="<%= asset_path 'cf-logo.svg' %>" />
            <h1 class="logo-title">coderfactory</h1>
          </div>
          <p class="mission-statement-info">
            People say coding is like riding a bike, once you've ridden around the park a few times you probably know how to do a function or two. Coder Factory will provide every student a free bike for the duration of the course, because sometimes you might just want to ride a bike.
          <!-- Links to social media -->
          <ul class="social">
            <li class="twitter">
              <%= link_to "Twitter", 'http://twitter.com/coderfactory', target: '_blank' %>
            </li>
            <li class="facebook">
              <%= link_to "Facebook", "http://facebook.com/thecoderfactory", target: '_blank' %>
            </li>
            <li class="linkedin">
              <%= link_to "Linked In", "https://www.linkedin.com/company/the-coder-factory", target: '_blank' %>
            </li>
            <li class="youtube">
              <%= link_to "Youtube", "https://www.youtube.com/user/CoderFactory/videos", target: '_blank' %>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="registerLabel"><i class="fa fa-info-circle"></i> Register for information</h3>
        <br>
      </div>
      <div class="modal-body blue-font">
        
        <div class='row'>
          <div class="col-md-6">
            <%= image_tag 'FrontPageThumb.jpg', class: 'img-responsive img-thumbnail' %>
          </div>
          <div class="col-md-6">
          <p class="lead blue-font">Register your details to receive the 13 page information pack plus a link to the application form.</p>
        
            
          </div>
        </div>
        <hr>
        <%= simple_form_for CourseRegistration.new do |f| %>
        <%= invisible_captcha %>
        <div class="form-group">
          <%= f.input :first_name, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= f.input :email, input_html: { class: 'form-control' } %>
        </div>
        <div class="form-group">
          <%= f.input :country, priority: ['Australia', 'Belgium', 'Canada', 'Cyprus', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Hong Kong', 'Ireland', 'Italy', 'Japan', 'Malta', 'Netherlands', 'New Zealand', 'Norway', 'Sweden', 'United States', 'United Kingdom', ], input_html: { class: 'form-control' } %>
        </div>

        <%= f.submit "Receive Info Pack", class: 'btn-block btn-block-slime' %>
        
      <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-flat" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>

</div>
    <div class="modal fade" id="contact-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Contact Coder Factory</h4>
          </div>
          <div class="modal-body">
            <p class="lead">Feel free to contact us any time. We're happy to help.</p>
            <p>Level 1, 91 Campbell Street, Surry Hills NSW 2008. AUSTRALIA</p>
            <p>Phone: 1300 884 095</p>
            <p>Email: info@thecoderfactory.com</p>
            <hr>
            <h3>Send us a message:</h3>
                <%= simple_form_for Enquiry.new do |f| %>
                <%= f.invisible_captcha :subtitle %>
                <div class="enq">
                <%= f.input :name, input_html: { class: 'form-horizontal form-control' } %>
                </div>
                <div class="enq">
                <%= f.input :email, input_html: { class: ' form-control' } %>
                </div>
                <div class="enq">
                <%= f.input :content, label: "Message (include your phone number if you'd like to be called)", input_html: { class: ' form-control' } %>
                </div>

                <div class="form-group no-border">
                    <div class="col-xs-12">
                        <p><%= f.submit 'Send enquiry', class: 'btn-block btn-block-calm btn-small' %></p>
                        
                    </div>
                </div>
              <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
